/*** 

====================================================================
		About Section
====================================================================

***/

.about-section {
	overflow: hidden;
	.image-column {
		.inner-column {
			position: relative;
			z-index: 1;
			max-width: 590px;
			.image1 {
				max-width: 500px;
				border-radius: 12px;
				border: 10px solid var(--theme-color-white);
				box-shadow: 0px 5px 20px 0px #0000001a;
				img {
					width: 100%;
				    @include transition(all 300ms ease);
				}
				&:hover {
					img {
						filter: grayscale(100%);
					}
				}
			}
			.info {
				position: absolute;
				bottom: -15px;
				left: 26%;
				max-width: 202px;
				width: 100%;
				border-radius: 10px;
				box-shadow: 0px 4px 10px 0px #0000001a;
				overflow: hidden;
				z-index: 2;
			}
			.image2 {
				max-width: 295px;
				border-radius: 12px;
				border: 10px solid var(--theme-color-white);
				box-shadow: 0px 5px 20px 0px #0000001a;
				position: absolute;
				bottom: -120px;
				right: 0;
				img {
					width: 100%;
				    @include transition(all 300ms ease);
				}
				&:hover {
					img {
						filter: grayscale(100%);
					}
				}
			}
			@include media-breakpoint-down(lg) {
				margin-bottom: 100px;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: 0;
				.image2 {
					position: unset;
					max-width: 100%;
					margin-top: 20px;
				}
			}
		}
	}
	.content-column {
		.inner-column {
			.info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				max-width: 450px;
				.user {
					display: flex;
					align-items: center;
					gap: 12px;
					.image {
						overflow: hidden;
						border-radius: 50%;
						max-width: 60px;
						width: 100%;
						height: 60px;
						border: 3px solid var(--theme-color1);
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.sub-title {
						font-size: 14px;
						line-height: 22px;
						font-weight: 500;
						color: #0c6460;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.about-block {
	.inner-box {
		display: flex;
		align-items: start;
		gap: 20px;
		margin-top: 20px;
		.icon {
			margin-top: 10px;
		    @include transition(all 300ms ease);
		}
		.title {
			font-size: 20px;
			line-height: 36px;
			margin-bottom: 5px;
		}
		.text {
			margin: 0;
		}
		&:hover {
			.icon {
				transform: rotateY(360deg);
			}
		}
	}
}

/*** 

====================================================================
		About Section Two
====================================================================

***/

.about-section-two {
	overflow: hidden;
	.content-column {
		.inner-column {
			.sec-title {
				.text {
					padding: 20px 30px;
					font-weight: 500;
					font-size: 16px;
					line-height: 30px;
					color: #6b7280;
					background-color: #f3f4f6;
					border-radius: 5px;
				}
			}
			.list {
				display: flex;
				align-items: center;
				gap: 30px;
				li {
					font-family: var(--title-font);
					color: var(--headings-color);
					display: flex;
					align-items: center;
					text-transform: capitalize;
					gap: 10px;
				}

				@include media-breakpoint-down(xl) {
					flex-wrap: wrap;
					gap: 10px;
				}
			}
			.info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				flex-wrap: wrap;
				.user {
					display: flex;
					align-items: center;
					gap: 12px;
					flex-wrap: wrap;
					ul {
						display: flex;
						align-items: center;
						li {
							&:not(:first-child) {
								margin-left: -10px;
							}
						}
					}
					.title {
						margin-bottom: 0;
						font-size: 16px;
						font-weight: 600;
						position: relative;
						z-index: 1;
						img {
							position: absolute;
							top: 25px;
							left: 50%;
							transform: translateX(-50%);
							z-index: -1;
							width: 100%;
						}
					}
				}
			}
		}
	}
	.image-column {
		.inner-column {
			.image {
				margin-left: 60px;
				position: relative;
				z-index: 1;
				max-width: 482px;
				margin-bottom: 45px;
				img {
					width: 100%;
					border-radius: 15px;
				}
				&::after {
					position: absolute;
					bottom: -25px;
					left: -25px;
					background-color: var(--theme-color-gray2);
					border-radius: 15px;
					width: 100%;
					height: 100%;
					content: "";
					z-index: -1;
				}
				.info1 {
					position: absolute;
					top: 60px;
					left: -95px;
				}
				.info2 {
					position: absolute;
					bottom: -45px;
					left: -50px;
					width: 275px;
					padding: 40px 20px;
					padding-left: 50px;
					background-color: var(--theme-color1);
					border-radius: 12px;
					.title {
						font-size: 65px;
						line-height: 65px;
						font-family: var(--text-font);
						margin-bottom: 5px;
					}
					.sub-title {
						margin-bottom: 0;
						color: var(--headings-color);
						font-weight: 600;
						font-size: 16px;
						line-height: 16px;
						position: relative;
						z-index: 1;
						display: inline-block;
						img {
							position: absolute;
							top: 20px;
							left: 0;
							z-index: -1;
						}
					}
				}
				@include media-breakpoint-down(xl) {
					max-width: 100%;
				}
				@include media-breakpoint-down(sm) {
					.info1 {
						left: -50px;
						top: -30px;

						img {
							width: 150px;
						}
					}
					.info2 {
						padding: 10px 20px;
						width: 200px;
						.title {
							font-size: 40px;
							line-height: 50px;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.about-block-two {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	max-width: 588px;
	.item {
		display: flex;
		align-items: center;
		gap: 18px;
		.icon {
			width: 78px;
			height: 79px;
			line-height: 78px;
			text-align: center;
			border-radius: 6px;
			background-color: var(--theme-color1);
			svg {
			    @include transition(all 900ms ease);
			}
		}
		.con {
			font-size: 18px;
			font-weight: 600;
			color: var(--headings-color);
			line-height: 28px;
			text-transform: capitalize;
			max-width: 180px;
		}
		&:hover {
			.icon {
				svg {
					transform: rotateY(360deg);
				}
			}
		}
	}
	@include media-breakpoint-down(xl) {
		max-width: 100%;
		flex-wrap: wrap;
	}
}

/*** 

====================================================================
		About Section Three
====================================================================

***/

.about-section-three {
	overflow: hidden;

	.image-column {
		.inner-column {
			position: relative;
			z-index: 1;
			.image {
				overflow: hidden;
				border-radius: 11px;
				max-width: 581px;
				img {
					width: 100%;
				}

				@include media-breakpoint-down(xl) {
					max-width: 100%;
				}
			}
			.text {
				max-width: 570px;
				@include media-breakpoint-down(xl) {
					max-width: 100%;
				}
			}
			.shape {
				position: absolute;
				top: -62px;
				left: -100px;
				@include media-breakpoint-down(md) {
					display: none;
				}
			}
			.info {
				display: flex;
				align-items: center;
				gap: 30px;
				flex-wrap: wrap;
				.user {
					display: flex;
					align-items: center;
					gap: 12px;
					flex-wrap: wrap;
					ul {
						display: flex;
						align-items: center;
						li {
							img {
								border: 3px solid var(--theme-color-white);
								border-radius: 50%;
							}
							&:not(:first-child) {
								margin-left: -15px;
							}
						}
					}
					.title {
						margin-bottom: 0;
						font-size: 16px;
						font-weight: 600;
						position: relative;
						z-index: 1;
						img {
							position: absolute;
							top: 25px;
							left: 50%;
							transform: translateX(-50%);
							z-index: -1;
							width: 100%;
						}
					}
				}
			}
		}
	}

	.content-column {
		.sec-title {
			max-width: 570px;
			@include media-breakpoint-down(xl) {
				max-width: 100%;
			}
		}
	}
}

.about-block-three {
	.content-box {
		border-radius: 50%;
		height: 330px;
		padding: 30px;
		padding-top: 50px;
		position: relative;
		text-align: center;
		width: 330px;
		z-index: 1;
		@media (max-width: 374.98px){
			height: 280px;
			width: 280px;
		}

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background-color: #faf0e7;
			border: 1px solid #070505;
			opacity: 0.16;
			border-radius: 50%;
			z-index: -1;
		}

		.count-box {
			font-size: 50px;
			font-weight: 500;
			color: var(--headings-color);
			text-align: center;
			font-family: var(--title-font);
			margin-bottom: 20px;
			@media (max-width: 374.98px){
				margin-bottom: 0;
			}
			.count-text {
				font-size: 130px;
				line-height: 1;
				@include media-breakpoint-down(sm) {
					margin-top: 80px;
				}
			}
		}
		.text {
			max-width: 150px;
			margin: 0 auto;
			color: #595b62;
		}
		&.margin-minus {
			margin-left: -35px;
			@include media-breakpoint-down(sm) {
				margin-top: 30px;
			}
		}

		@include media-breakpoint-down(sm) {
			margin-left: auto !important;
			margin-right: auto;
		}
	}
}

/*** 

====================================================================
		About Section Four
====================================================================

***/

.about-section-four {
	overflow: hidden;

	.image-column {
		.inner-column {
			position: relative;
			z-index: 1;
			max-width: 575px;

			.image1 {
				max-width: 459px;
				overflow: hidden;
				border-radius: 11px;
				margin-left: 40px;
				img {
					width: 100%;
				}
			}
			.image2 {
				max-width: 263px;
				overflow: hidden;
				border-radius: 11px;
				position: absolute;
				bottom: -40px;
				right: 0;
				img {
					width: 100%;
				}
			}

			.info {
				padding: 30px;
				border-radius: 10px;
				background-color: var(--theme-color2);
				width: fit-content;
				position: absolute;
				bottom: -40px;
				left: 0;
				.title {
					font-size: 36px;
					line-height: 36px;
					color: var(--theme-color-white);
					margin-bottom: 15px;
					span {
						font-size: 14px;
						font-weight: 600;
						span {
							font-size: 28px;
						}
					}
				}
				.users {
					display: flex;
					align-items: center;
					gap: 12px;
					span {
						display: inline-block;
						position: relative;
						z-index: 1;
						font-size: 16px;
						color: var(--theme-color-white);
						font-weight: 500;
						svg {
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}
				}
			}
		}
	}

	.content-column {
		.inner-column {
			@include media-breakpoint-down(xl) {
				max-width: 84%;
			}
			.content-box {
				display: flex;
				gap: 30px;
				justify-content: space-between;
				flex-wrap: wrap;
				.item {
					max-width: 260px;
					.title,
					.sub-title {
						margin-bottom: 10px;
					}
					.text {
						font-size: 16px;
						line-height: 28.8px;
						margin-bottom: 0;
					}
				}
			}
			.number {
				font-weight: 500;
				margin-top: 40px;
				margin-bottom: 0;
				a {
					font-weight: 700;
					text-decoration: underline;
				}
			}

			.info {
				display: flex;
				align-items: center;
				gap: 30px;
				flex-wrap: wrap;
				.user {
					display: flex;
					align-items: center;
					gap: 15px;

					.image {
						width: 65px;
						height: 65px;
						border-radius: 50%;
						overflow: hidden;
						border: 1px solid #edc701;
						padding: 5px;
						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}

.about-wrapper-4 {
	.about-image {
		position: relative;
		max-width: 602px;
		mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 602 612"><path fill-rule="evenodd" clip-rule="evenodd" d="M121.603 306L0 233.292L89.6283 72.7081L211.302 145.29L211.371 0H390.629L390.698 145.29L512.371 72.7081L602 233.292L480.396 306L602 378.708L512.371 539.292L390.698 466.71L390.629 612H211.371L211.302 466.71L89.6283 539.292L0 378.708L121.603 306Z" /></svg>');
		mask-repeat: no-repeat;
		mask-position: center center;
		mask-size: cover;

		@include media-breakpoint-down (xl){
			max-width: initial;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.about-content {
		.sec-title{
			max-width: 600px;
		}
		.about-icon-box {
			border-top: 1px solid rgba(0, 0, 0, 0.10);
			border-bottom: 1px solid rgba(0, 0, 0, 0.10);
			margin-top: 40px;
			gap: 60px;
			display: flex;
			align-items: center;
			@include media-breakpoint-down (xl){
				flex-wrap: wrap;
				gap: 20px;
				padding-bottom: 20px;
			}
			.count-box {
				padding: 23px 0px;
				padding-right: 40px;
				min-width: 220px;
				border-right: 1px solid rgba(0, 0, 0, 0.10);
				@include media-breakpoint-down (xl){
					border-right: none;
					padding-right: 0;
				}
				h2 {
					font-size: 120px;
					font-weight: 500;
					line-height: 120px;
					margin-bottom: 0;
				}
				p{
					margin-bottom: 0;
				}
			}
			.about-block {
				margin-bottom: 15px;
				.inner-box {
					display: flex;
					gap: 15px;
					margin-top: 0;
					.content {
						.title {
							font-size: 18px;
							font-weight: 700;
						}
						p {
							font-size: 16px;
							font-weight: 400;
						}
					}
				}
			}
		}

		.info {
			display: flex;
			gap: 50px;

			@include media-breakpoint-down (xl){
				flex-wrap: wrap;
				gap: 20px;
			}
			
			.theme-btn {
			position: relative;
			
			&.btn-style-one {
				padding: 26px 60px;
				align-items: center;
				padding-right: 100px;
				height: 70px;
				border-radius: 100px;
				background: linear-gradient(90deg, #BEEC6B 0%, #169C92 100%);
				color: var(--theme-color-white);
				@include for-sm {
					height: 60px;
					padding-right: 80px;					
					.icon {
						width: 40px;
						height: 40px;
						line-height: 40px;
						right: 10px;
						top: 8px;
					   svg {
							width: 15px;
							height: 15px;
					   } 
					}
				}

				@include media-breakpoint-down(sm) {
					padding: 26px 42px;
					padding-right: 42px;
					padding-right: 88px;
					height: 57px;
				}
				&:hover {
					color: var(--headings-color);
				}
			}

			.icon {
				width: 62px;
				height: 62px;
				line-height: 62px;
				border-radius: 50%;
				background-color: #fff;
				position: absolute;
				right: 4px;
				top: 4px;
				bottom: 4px;
			}
			}

			.user {
				display: flex;
				align-items: center;
				gap: 12px;
				.image {
					overflow: hidden;
					border-radius: 50%;
					max-width: 60px;
					width: 100%;
					height: 60px;
					border: 3px solid var(--theme-color1);
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.sub-title {
					font-size: 14px;
					line-height: 22px;
					font-weight: 500;
					color: #0c6460;
					margin-bottom: 0;
				}
			}
		}
	}
}

/*** 

====================================================================
		About Section Five
====================================================================

***/
.about-section-home6{
	position: relative;
	.about-image-box{
		position: relative;
		.thumb{
			border-radius: 15px;
			overflow: hidden;
			position: relative;
			z-index: -1;
		}
		.content-box{
			background-color: var(--theme-color7);
			bottom: 0;
			max-width: 476px;
			padding: 65px;
			position: absolute;
			right: 0;
			z-index: 1;
			@include media-breakpoint-down(xl) {
				border-radius: 0 0 15px 0;
				max-width: 676px;
			}
			@include media-breakpoint-down(lg) {
				bottom: 30px;
				border-radius: 0;
				left: 15px;
				max-width: none;
				position: relative;
		        width: 95%;
			}
			@include media-breakpoint-down(sm) {
				left: 0;
				padding: 30px;
			}
		}
		.title{
			color: var(--theme-color-white);
			font-weight: 700;
			letter-spacing: -0.03em;
			line-height: 42px;
		}
		.text{
			color: rgba(var(--theme-color-white-rgb), 0.7);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 36px;
		}
		.swiper-arry{
			.next,
			.prev{
				background-color: transparent;
				color: #807B7B;
				i{
					color: var(--theme-color-white);
				}
			}
		}
	}
}

.about-section-seven {
	overflow: hidden;
	padding-bottom: 172px;
	.rectangle-shape{
		position: absolute;
		top: 0;
		right: 0;
	}
	.image-column {
		.inner-column {
			position: relative;
			z-index: 1;
			max-width: 560px;
			margin-right: -40px;
			.image1 {
				max-width: 492px;
				border-radius: 15px;
				box-shadow: 0px 5px 20px 0px rgba(var(--theme-color-black-rgb), 0.1);
				img {
					width: 100%;
					border-radius: 15px;
				    @include transition(all 300ms ease);
				}
				&:hover {
					img {
						filter: grayscale(100%);
					}
				}
			}
			.image2 {
				max-width: 275px;
				border-radius: 12px;
				border: 10px solid var(--theme-color-white);
				box-shadow: 0px 5px 20px 0px rgba(var(--theme-color-black-rgb), 0.1);
				position: absolute;
				bottom: -52px;
				right: 0;
				img {
					width: 100%;
				    @include transition(all 300ms ease);
				}
				&:hover {
					img {
						filter: grayscale(100%);
					}
				}
			}
			@include media-breakpoint-down(lg) {
				margin-bottom: 100px;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: 0;
				.image2 {
					position: unset;
					max-width: 100%;
					margin-top: 20px;
				}
			}
		}
	}
	.content-column {
		.inner-column {
			padding-left: 70px;
			margin-left: -70px;
			border-left: 1px solid rgba(var(--theme-color-black-rgb), 0.1);
			.list{
				position: relative;
				display: flex;
				align-items: center;
				gap: 30px;
				padding-bottom: 30px;
				margin-bottom: 30px;
				justify-content: space-between;
				&::before{
					position: absolute;
					bottom: 0;
					left: -70px;
					width: calc(100% + 70px);
					height: 1px;
					content: '';
					background: rgba(var(--theme-color-black-rgb), 0.1);
				}
			}
			.info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 20px;
				max-width: 450px;
				.user {
					display: flex;
					align-items: center;
					gap: 30px;
					.image {
						overflow: hidden;
						border-radius: 50%;
						max-width: 67px;
						width: 100%;
						height: 67px;
						padding: 7px;
						border: 1px solid var(--theme-color9);
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 50%;
						}
					}
					.sub-title {
						font-size: 14px;
						line-height: 22px;
						font-weight: 500;
						color: #0c6460;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}