// Blog area start here ***
.blog-section {
	overflow: hidden;
}

.blog-block {
	.inner-box {
		.image-box {
			overflow: hidden;
			.image {
				img {
					width: 100%;
					transition: all 500ms ease;
				}
				position: relative;
				z-index: 1;

				&::after {
					background-color: rgba(var(--theme-color-white-rgb), 0.3);
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 0;
					opacity: 1;
					z-index: 1;
				}
			}
		}
		.content-box {
			width: 86%;
			margin: 0 auto;
			padding: 20px;
			border-radius: 14px;
			box-shadow: 0px 4px 30px 0px #0000000f;
			margin-bottom: 5px;
			margin-top: -100px;
			position: relative;
			z-index: 1;
			background-color: var(--theme-color-white);
			transition: all 700ms ease;
			@media (max-width: 375.98px){
				width: 93%;
			}
			.info {
				display: flex;
				align-items: center;
				gap: 20px;
				margin-bottom: 5px;
				li {
					display: flex;
					align-items: center;
					gap: 5px;
					white-space: nowrap;
					svg {
						path {
							transition: all 300ms ease;
						}
					}
					a {
						font-size: 15px;
						&:hover {
							color: var(--theme-color1) !important;
						}
					}
				}
			}
			.title {
				text-transform: capitalize;
				margin-bottom: 10px;
			}
			.arry-btn {
				font-weight: 500;
				color: #222222;
				display: flex;
				align-items: center;
				gap: 7px;
				font-size: 15px;
				svg {
					path {
						transition: all 300ms ease;
					}
				}
				&:hover {
					gap: 10px;
				}
			}
		}
		&:hover {
			.image-box {
				.image {
					img {
						filter: grayscale(100%);
						transform: scale(1.1);
					}
					&::after {
						height: 100%;
						opacity: 0;
						-webkit-transition: all 300ms linear;
						transition: all 300ms linear;
					}
				}
			}
			.content-box {
				background-color: var(--theme-color4);
				.info {
					li {
						svg {
							path {
								fill: var(--theme-color-white);
							}
						}
						a {
							color: var(--theme-color-white);
						}
					}
				}
				.title {
					color: var(--theme-color-white);
				}
				.arry-btn {
					color: var(--theme-color-white);
					svg {
						path {
							fill: var(--theme-color-white);
						}
					}
				}
			}
		}
	}
}
// Blog area end here ***

// Blog two area start here ***
.blog-section-two {
	overflow: hidden;
}

.blog-block-two {
	.inner-box {
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0px 4.4px 20px -1px #1310220d;
		background-color: var(--theme-color-white);
		.image-box {
			position: relative;
			z-index: 1;
			.image {
				overflow: hidden;
				border-radius: 5px;
				img {
					width: 100%;
					transition: all 500ms ease;
				}
			}
			.tag {
				font-size: 16px;
				line-height: 26px;
				padding: 10px 25px;
				border-left: 2px solid var(--theme-color1);
				border-radius: 5px 0 0 5px;
				background-color: var(--theme-color2);
				color: var(--theme-color-white);
				position: absolute;
				top: 20px;
				right: 0;
			}
		}
		.content-box {
			padding: 30px;
			padding-top: 20px;
			.info {
				display: flex;
				align-items: center;
				gap: 20px;
				li {
					display: flex;
					align-items: center;
					gap: 5px;
					white-space: nowrap;
					svg {
						path {
							transition: all 300ms ease;
						}
					}
					a {
						font-size: 14px;
						color: #737588;
						&:hover {
							color: var(--theme-color1) !important;
						}
					}
				}
			}
			.title {
				margin-top: 10px;
				margin-bottom: 0;
				text-transform: capitalize;
			}
			.btn-one-rounded {
				min-width: 155px;
				color: #101a29;
				text-align: center;
			}
		}
		&:hover {
			.image-box {
				.image {
					img {
						transform: scale(1.1) rotate(-1deg);
					}
				}
			}
		}
	}
}
// Blog two area end here ***

// Blog Three area start here ***
.blog-section-three {
	overflow: hidden;
}

.blog-block-three {
	.inner-box {
		.image-box {
			.image {
				position: relative;
				overflow: hidden;
				border-radius: 20px;
				img {
					width: 100%;
					transition: all 0.3s ease-in-out;
					&:first-child {
						position: absolute;
						left: 0px;
						top: 0px;
						right: 0px;
						bottom: 0px;
						z-index: 1;
						-webkit-transform: translateX(50%) scaleX(2);
						transform: translateX(50%) scaleX(2);
						opacity: 0;
						-webkit-filter: blur(10px);
						filter: blur(10px);
					}
				}
			}
		}

		.content-box {
			.content {
				padding: 20px 25px;
				@media (max-width: 375.98px){
					padding-left: 0px;
					padding-right: 0;
				}
				.title {
					margin-bottom: 0;
				}
				.sub-title {
					font-weight: 500;
					font-size: 16px;
					color: var(--headings-color);
				}
			}
			.info {
				align-items: center;
				border-top: 1px solid rgba(0, 23, 38, 0.102);
				display: flex;
				gap: 10px;
				justify-content: space-between;
				padding: 0 25px;
				padding-top: 15px;
				@media (max-width: 375.98px){
					padding-left: 0px;
				}
				li {
					display: flex;
					align-items: center;
					gap: 5px;
					white-space: nowrap;
					svg {
						path {
							transition: all 300ms ease;
						}
					}
					a {
						font-size: 16px;
						color: #595b62;
						&:hover {
							color: var(--theme-color1) !important;
						}
					}
				}
			}
		}

		&:hover {
			.image-box {
				.image {
					img {
						&:first-child {
							-webkit-transform: translateX(0) scaleX(1);
							transform: translateX(0) scaleX(1);
							opacity: 1;
							-webkit-filter: blur(0);
							filter: blur(0);
						}
						&:last-child {
							-webkit-transform: translateX(-50%) scaleX(2);
							transform: translateX(-50%) scaleX(2);
							opacity: 0;
							-webkit-filter: blur(10px);
							filter: blur(10px);
						}
					}
				}
			}
		}
	}
}
// Blog Three area end here ***

// Blog four area start here ***
.blog-section-four {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background: linear-gradient(0deg, #f7f0e1 0%, #f8f5f2 100%);

	.sec-shape {
		position: absolute;
		bottom: 15%;
		left: 0;
		z-index: -1;
	}

	&.have-padding {
		padding-bottom: 600px;
		margin-bottom: -480px;
	}
}
// Blog four area end here ***
