// Case area start here ***
.case-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	&.white-bg{
		margin: 0px 30px;
		border-radius: 30px;
		background-color: var(--theme-color-white);
		.title{
			br{
				@include media-breakpoint-down(md){
					display: none;
				}
			}
		}
		.outer-box {
			padding: 0 20px;
		}
	}
	.outer-box {
		padding: 0 50px;
		@include media-breakpoint-down(md) {
			padding: 0 12px;
		}
	}

	&.have-combine {
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 35%;
			content: "";
			z-index: -1;
			background-color: var(--theme-color-gray);
		}
	}
}

.case-block {
	.inner-box {
		border-radius: 15px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		.image {
			img {
				transition: all 300ms ease;
				width: 100%;
			}
		}
		.content-box {
			background-color: rgba(var(--theme-color-white-rgb), 0.93);
			backdrop-filter: blur(89px);
			border-radius: 8px;
			position: absolute;
			transform: translateX(-50%);
			left: 50%;
			bottom: 20px;
			width: 90%;
			padding: 30px;
			opacity: 0.95;
			transition: all 300ms ease;
			z-index: 1;

			.sub-title {
				font-weight: 600;
				color: var(--theme-color-dark);
				font-size: 14px;
				line-height: 30px;
			}
			.title {
				max-width: 300px;
				margin-bottom: 0;
			}
		}

		.hover-content {
			position: absolute;
			transform: translateX(-50%);
			left: 50%;
			bottom: 10px;
			width: 85%;
			transition: all 300ms ease;
			z-index: 1;
			.sub-title {
				font-weight: 600;
				color: var(--theme-color-white);
				font-size: 14px;
				line-height: 30px;
			}
			.title {
				max-width: 300px;
				color: var(--theme-color-white);
				margin-bottom: 0;
			}
			opacity: 0;
			visibility: hidden;
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0;
			opacity: 0;
			visibility: hidden;
			transition: all 300ms ease;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0) 19.36%,
				#163839 71.26%,
				#163839 100%
			);
			z-index: 0;
			content: "";
		}

		.arry-btn {
			display: block;
			width: 90px;
			height: 90px;
			line-height: 90px;
			background-color: var(--theme-color1);
			position: absolute;
			top: 48%;
			left: 50%;
			opacity: 0;
			visibility: hidden;
			transform: translate(-50%, -50%);
			text-align: center;
			font-size: 24px;
			color: #163839;
			border-radius: 50%;
			z-index: 1;
			transition: all 300ms ease;
			i {
				transition: all 300ms ease;
			}
			&::after {
				width: 90px;
				height: 90px;
				line-height: 90px;
				background-color: var(--theme-color-white);
				position: absolute;
				top: -3px;
				left: 1px;
				border-radius: 50%;
				content: "";
				z-index: -1;
				transition: all 100ms ease;
			}
			&:hover {
				i {
					display: inline-block;
					transform: rotate(45deg);
				}
				&::after {
					top: 0;
					left: 0;
				}
			}
		}

		&:hover {
			&::after {
				height: 90%;
				opacity: 1;
				visibility: visible;
			}
			.image {
				img {
					filter: grayscale(100%);
				}
			}
			.arry-btn {
				top: 50%;
				opacity: 1;
				visibility: visible;
			}
			.content-box {
				bottom: 0;
				opacity: 0;
				visibility: hidden;
			}
			.hover-content {
				opacity: 1;
				visibility: visible;
				bottom: 30px;
			}
		}
	}
}
// Case area start here ***

// Case three area start here ***
.case-section-three {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: var(--theme-color2);

	.sec-shape {
		position: absolute;
		z-index: -1;
		top: 10px;
		left: 0;
	}

	.box-shape {
		width: 189px;
		height: 189px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		.box1 {
			height: 100%;
			width: 50%;
			background-color: rgba(var(--theme-color-white-rgb), 0.15);
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.box2 {
			width: 100%;
			height: 50%;
			background-color: rgba(var(--theme-color-white-rgb), 0.15);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.outer-box {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(xl) {
			flex-direction: column;
		}
	}

	.content-column {
		width: 48%;

		@include media-breakpoint-down(xl) {
			width: 100%;
		}

		.inner-column {
			max-width: 510px;
			margin: 60px 120px 60px auto;
			.text {
				font-size: 16px;
				line-height: 30px;
			}
			.info {
				li {
					display: flex;
					align-items: center;
					gap: 10px;
					font-size: 16px;
					font-weight: 500;
					color: var(--theme-color-white);
					&:not(:last-child) {
						margin-bottom: 10px;
					}
				}
			}

			@include media-breakpoint-down(xl) {
				margin: 60px 15px;
				max-width: 100%;
			}
		}
	}

	.image-column {
		width: 52%;

		@include media-breakpoint-down(xl) {
			width: 100%;
		}
	}
}

.case-block-three {
	position: relative;
	z-index: 1;

	.image {
		overflow: hidden;
		img {
			width: 100%;
		}
	}

	.icon {
		width: 50px;
		height: 50px;
		line-height: 50px;
		color: var(--headings-color);
		background-color: var(--theme-color1);
		text-align: center;
		border-radius: 50%;
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		i {
			transition: all 300ms ease;
		}
		&:hover {
			i {
				transform: rotate(45deg);
			}
		}
	}

	.content {
		max-width: 270px;
		width: 100%;
		position: absolute;
		bottom: 40px;
		left: 45px;
		z-index: 1;
		.title {
			padding: 5px 20px;
			color: var(--theme-color-white);
			background-color: var(--theme-color2);
			transition: all 300ms ease 100ms;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-10px);
			margin-bottom: 0;
		}
		.sub-title {
			display: inline-block;
			padding-left: 20px;
			padding-right: 30px;
			color: var(--theme-color-black);
			background-color: var(--theme-color1);
			transition: all 300ms ease 300ms;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-10px);
			margin-bottom: 0;
		}
	}

	&:hover {
		.icon {
			right: 40px;
			opacity: 1;
			visibility: visible;
		}
		.content {
			.title,
			.sub-title {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
			}
		}
	}
}
// Case three area end here ***
