// Choose area start here ***
.choose-section {
	overflow: hidden;

	.content-column {
		.inner-column {
			max-width: 580px;
			@include media-breakpoint-down(xl) {
				max-width: 680px;
			}
			@include media-breakpoint-down(lg) {
				max-width: 100%;
			}
			.choose-tab {
				.nav {
					border-bottom: 2px solid rgba(2, 6, 38, 0.102);
					gap: 10px;
					justify-content: space-between;
					@include media-breakpoint-down(sm) {
						border-bottom: 1px solid rgba(2, 6, 38, 0.102);
					}
					.nav-item {
						.nav-link {
							border: none;
							box-shadow: none;
							color: var(--text-color);
							font-family: var(--title-font);
							font-size: 18px;
							font-weight: 700;
							padding: 8px 30px;
							&.active {
								background-color: transparent;
								border-bottom: 2px solid #163839;
								color: var(--headings-color);
							}
							@include media-breakpoint-down(sm) {
								font-size: 13px;
								padding: 5px;
							}
						}
					}
				}
			}
			.content-box {
				font-size: 16px;
				line-height: 30px;
				.text {
					margin-bottom: 0;
					font-size: 16px;
					line-height: 30px;
				}
				.list {
					display: flex;
					align-items: center;
					gap: 10px;
					justify-content: space-between;
					@include media-breakpoint-down(lg){
						flex-wrap: wrap;
					}
					ul {
						li {
							color: var(--headings-color);
							font-weight: 700;
							display: flex;
							align-items: center;
							gap: 10px;
							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}

	.image-column {
		.inner-column {
			height: 100%;
			.image {
				max-width: 556px;
				float: right;
				position: relative;
				z-index: 1;
				@include media-breakpoint-down(xl) {
					float: none;
					max-width: none;
				}
				img {
					width: 100%;
				}
				.outer-box {
					background-color: var(--theme-color1);
					padding: 40px;
					max-width: 330px;
					width: 100%;
					position: absolute;
					bottom: -10px;
					left: -100px;
					@include media-breakpoint-down(xxl) {
						left: 0;
						bottom: 0;
					}
				}
				@include media-breakpoint-down(lg) {
					max-width: 100%;
					float: none;
				}
			}
		}
	}
}

.choose-block {
	display: flex;
	align-items: center;
	gap: 25px;

	&:first-child {
		border-bottom: 1px solid rgba(var(--theme-color-white-rgb), 0.2);
		padding-bottom: 40px;
		margin-bottom: 40px;
	}

	.pie-graph {
		position: relative;
		z-index: 1;
		width: fit-content;
		height: 70px;

		.icon {
			font-size: 18px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: var(--theme-color-black);
		}
	}

	.content-box {
		.inner-text {
			font-size: 34px;
			font-weight: 700;
			color: var(--theme-color-black);
			margin-bottom: 5px;
			font-family: var(--title-font);
		}
		.title {
			color: var(--theme-color-black);
			margin-bottom: 0;
		}
	}
}

.graph-outer {
  width: 70px;
  height: 70px;
}


// Choose area start here ***

// Choose four  area start here ***
.choose-section-four {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: var(--theme-color2);

	.box-shape {
		width: 189px;
		height: 189px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		.box1 {
			height: 100%;
			width: 50%;
			background-color: rgba(var(--theme-color-white-rgb), 0.15);
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.box2 {
			width: 100%;
			height: 50%;
			background-color: rgba(var(--theme-color-white-rgb), 0.15);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.sec-title {
		padding-bottom: 40px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgba(230, 230, 230, 0.212);
	}

	.image-column {
		.image {
			position: absolute;
			bottom: 0;
			max-width: 450px;
			img {
				width: 100%;
			}
			.circle-btn {
				max-width: 180px;
				position: absolute;
				top: 52%;
				left: 43%;
			}
			.circle-bg {
				position: absolute;
				bottom: 0;
				left: 30px;
				z-index: -1;
				width: 480px;
			}
			.info {
				position: absolute;
				top: 40px;
				right: -185px;

				@include media-breakpoint-down(xxl) {
					top: 100px;
					right: -50px;
				}
			}
		}

		@include media-breakpoint-down(xl) {
			display: none;
		}
	}
}

.choose-block-four {
	padding: 30px;
	border-radius: 10px;
	background-color: #245548;
	.title {
		margin-bottom: 10px;
		color: var(--theme-color-white);
	}
	.text {
		color: var(--theme-color-white);
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 0;
	}
	.list {
		max-width: 710px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		ul {
			li {
				svg {
					margin-right: 8px;
				}
				color: var(--theme-color-white);
				font-size: 16px;
				line-height: 26px;
				margin-top: 20px;
			}
		}
	}
	&.active {
		background-color: var(--theme-color1) !important;
		.title,
		.text {
			color: var(--headings-color);
		}
	}
}
// Choose four  area end here ***

// Choose area seven start here ***
.choose-section-seven {
	overflow: hidden;
	.content-column {
		.inner-column {
			max-width: 580px;
			margin-top: 30px;
			@include media-breakpoint-down(xxxl) {
				margin-top: 0;
			}
			@include media-breakpoint-down(xl) {
				max-width: 680px;
			}
			@include media-breakpoint-down(lg) {
				max-width: 100%;
			}
			.choose-tab {
				.nav {
					border-bottom: 2px solid rgba(2, 6, 38, 0.102);
					gap: 10px;
					justify-content: space-between;
					@include media-breakpoint-down(sm) {
						border-bottom: 1px solid rgba(2, 6, 38, 0.102);
					}
					.nav-item {
						.nav-link {
							border: none;
							box-shadow: none;
							color: var(--text-color);
							font-family: var(--title-font);
							font-size: 18px;
							font-weight: 700;
							padding: 8px 30px;
							&.active {
								background-color: transparent;
								border-bottom: 2px solid #163839;
								color: var(--headings-color);
							}
							@include media-breakpoint-down(sm) {
								font-size: 13px;
								padding: 5px;
							}
						}
					}
				}
			}
			.content-box {
				font-size: 16px;
				line-height: 30px;
				.text {
					margin-bottom: 0;
					font-size: 16px;
					line-height: 30px;
				}
				.list {
					display: flex;
					align-items: center;
					gap: 10px;
					justify-content: space-between;
					@include media-breakpoint-down(lg){
						flex-wrap: wrap;
					}
					ul {
						li {
							color: var(--headings-color);
							font-weight: 700;
							display: flex;
							align-items: center;
							gap: 10px;
							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}
	.image-column {
		.inner-column {
			height: 100%;
			.image {
				max-width: 642px;
				float: right;
				position: relative;
				z-index: 1;
				@include media-breakpoint-down(xl) {
					float: none;
					max-width: none;
				}
				img {
					width: 100%;
					border-radius: 30px;
				}
				.outer-box {
					padding: 43px 50px;
					max-width: 336px;
					width: 100%;
					position: absolute;
					bottom: 20px;
					left: 20px;
					display: flex;
					flex-direction: column;
					align-items: center;
					border-radius: 30px;
					background-color: rgb(154 154 154 / 30%);
					backdrop-filter: blur(20px);
					.icon{
						width: 112px;
						height: 112px;
						line-height: 112px;
						text-align: center;
						border-radius: 50%;
						display: inline-block;
						font-size: 50px;
						color: var(--theme-color2);
						background-color: var(--theme-color1);
						margin-bottom: 20px;
					}
					.title{
						font-weight: 700;
						font-size: 24px;
						line-height: 36px;
						text-align: center;
						text-transform: capitalize;
						color: var(--theme-color-white);
					}
				}
				@include media-breakpoint-down(lg) {
					max-width: 100%;
					float: none;
				}
			}
		}
	}
}