// Consult  area start here ***
.consult-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	@include background;
	&.home6-style{
		&:after{
			background: rgba(var(--theme-color7-rgb), 0.92);
		}
	}

	.sec-shape {
		position: absolute;
		top: 50%;
		left: -180px;
		transform: translateY(-50%);
		z-index: 0;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			99.2deg,
			#1a4137 32.71%,
			rgba(29, 67, 58, 0.99) 51.92%,
			rgba(34, 71, 61, 0.797132) 56.74%,
			rgba(64, 95, 87, 0.25) 77.85%,
			rgba(196, 196, 196, 0) 103.7%
		);
		content: "";
		z-index: -1;
	}

	.sec-title {
		max-width: 670px;
		margin: 0 auto;
	}

	.btn-wrp {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		@media (max-width: 370.98px){
			display: block;
		}
		a {
			min-width: 185px;
		}
		.btn-two-rounded {
			background-color: rgba(var(--theme-color-white-rgb), 0.06);
		}

		@include media-breakpoint-down(sm) {
			gap: 10px;
			a {
				min-width: 160px;
				font-size: 14px;
			}
		}
	}
}
// Consult area end here ***
