/*** 

====================================================================
  CONTACT SECTION
====================================================================

***/

.contact-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: var(--theme-color-gray2);

	.shape {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.contact-image {
		position: absolute;
		bottom: 0;
		right: 30px;
		z-index: -1;
		@include media-breakpoint-down(xxl) {
			display: none;
		}
	}

	.content-column {
		.sec-title {
			max-width: 450px;
			.text {
				font-size: 16px;
				line-height: 30px;
			}
		}
		.info {
			display: flex;
			align-items: center;
			gap: 30px;
			.icon {
				max-width: 70px;
				width: 100%;
				height: 70px;
				line-height: 70px;
				border-radius: 50%;
				text-align: center;
				background-color: var(--theme-color-white);
			}
			.title {
				margin-bottom: 0;
				color: var(--theme-color2);
			}
			.sub-title {
				margin-bottom: 0;
				font-weight: 600;
				font-size: 16px;
				line-height: 30px;
				color: var(--headings-color);
			}
		}
	}
}

.contact-block {
	background-color: var(--theme-color-white);
	box-shadow: 0px 7px 24px 0px #0000000f;
	border-radius: 5px;
	padding: 45px;
	text-align: center;
	max-width: 700px;

	form {
		.input {
			position: relative;
			z-index: 1;
			input {
				border: 1px solid #e4e4e4;
				border-radius: 5px;
				font-size: 16px;
				font-weight: normal;
				padding: 8px 20px;
				width: 100%;
				&:focus {
					border: 1px solid var(--theme-color1);
				}
				&::placeholder{
					color: var(--theme-color-black);
				}
			}
			.icon {
				position: absolute;
				top: 18px;
				right: 20px;
			}
		}
		textarea {
			border-radius: 5px;
			border: 1px solid #e4e4e4;
			font-size: 16px;
			font-weight: normal;
			height: 125px;
			padding: 8px 20px;
			width: 100%;
			&:focus {
				border: 1px solid var(--theme-color1);
			}
			&::placeholder{
				color: var(--theme-color-black);
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 30px 12px;
	}
}

/*** 

====================================================================
  CONTACT SECTION Four
====================================================================

***/

.contact-section-four {
	overflow: hidden;
	position: relative;
	z-index: 1;

	.outer-box {
		box-shadow: 0px 10px 100px 0px #0000000d;
		background-color: var(--theme-color-white);
		padding: 100px 90px;
		border-radius: 13px;
		position: relative;
		z-index: 1;

		@include media-breakpoint-down(md) {
			padding: 60px 30px;
		}

		@include media-breakpoint-down(sm) {
			padding: 60px 12px;
		}
	}

	.google-map {
		margin-top: -530px;
		iframe {
			margin-bottom: -12px;
			width: 100%;
			height: 650px;
			filter: grayscale(100%);
		}
	}
}

.contact-block-four {
	.input-field {
		position: relative;
		input,
		textarea {
			width: 100%;
			padding: 15px 25px;
			background-color: #f0f1f6;
			border: 1px solid #d1d5db;
			border-radius: 9px;
			font-size: 16px;
			&::placeholder {
				color: var(--headings-color);
			}
			&:focus {
				border: 1px solid var(--theme-color1);
			}
		}
		&.textarea-feild {
			textarea {
				height: 210px;
			}
		}
		.icon {
			position: absolute;
			top: 15px;
			right: 25px;
		}
	}
	.nice-select {
		height: 68px;
		line-height: 68px;
		background-color: #f0f1f6;
		border: 1px solid #d1d5db;
		padding: 0 25px;
		border-radius: 9px;
		font-size: 16px;
		&::before {
			right: 25px;
			font-size: 18px;
		}
	}
}

.input-field.two {
	position: relative;
	
}

.input-field.two select {
  appearance: none;
  width: 100%;
  padding: 16px 40px 16px 20px; 
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f4f5f9;
  font-size: 15px;
  cursor: pointer;
}

.input-field.two i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000;
  font-size: 16px;
}

.input-field.three {
	position: relative;
	
}

.input-field.three select {
  	appearance: none;
  	padding: 0px 25px; 
	width: 100%;
	border-radius: 5px;
	height: 58px;
	line-height: 58px;
	border: 1px solid #e4e4e4;
  	font-size: 15px;
  	cursor: pointer;
}

.input-field.three i {
  	position: absolute;
  	top: 63%;
  	right: 20px;
  	transform: translateY(-50%);
  	pointer-events: none;
  	color: #000;
  	font-size: 16px;
}

/*** 

====================================================================
CONTACT Details
====================================================================

***/
.contact-details {
	overflow: hidden;

	.content-column {
		.inner-column {
			.google-map {
				iframe {
					width: 100%;
					height: 350px;
				}
			}
			form {
				.type-feild {
					position: relative;
					z-index: 1;
					margin-bottom: 45px;
					input {
						padding-bottom: 15px;
						padding-left: 35px;
						width: 100%;
						border-bottom: 1px solid rgba(92, 92, 91, 0.3);
					}
					textarea {
						padding-bottom: 15px;
						padding-left: 35px;
						width: 100%;
						border-bottom: 1px solid rgba(92, 92, 91, 0.3);
						height: 130px;
					}
					i {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
			&.right-column {
				max-width: 590px;
				margin-left: auto;
				.sec-title {
					margin-bottom: 55px !important;
				}
			}
		}
	}
}

.contact-details-block {
	background-color: var(--theme-color-white);
	box-shadow: 0px 15px 10px 0px #bcc2c62e;
	border-radius: 8px;
	padding: 65px 20px;
	transition: all 500ms ease;
	text-align: center;
	.inner-box {
		max-width: 260px;
		margin: 0 auto;
	}
	.icon {
		margin-bottom: 20px;
		transition: all 700ms ease;
		svg,
		i {
			transition: all 300ms ease;
			path {
				transition: all 300ms ease;
			}
		}
	}
	.title {
		transition: all 300ms ease;
		margin-bottom: 20px;
		text-transform: capitalize;
	}
	.text {
		margin-bottom: 0;
		color: var(--text-color2);
		font-weight: 500;
		transition: all 300ms ease;
		line-height: 28px;
		font-size: 18px;
	}
	&:hover {
		.icon {
			transform: rotateY(360deg);
			svg,
			i {
				path {
					fill: var(--theme-color-white);
				}
				color: var(--theme-color-white);
			}
		}
		.title {
			color: var(--theme-color-white);
		}
		.text {
			color: var(--theme-color-white);
		}
		background-color: var(--theme-color2);
	}
}


// Contact six area start here ***
.contact-six {
	&-aera {
		overflow: hidden;
	}
	&__wrp {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 130px 100px;
		margin-right: -20px;
		@include media-breakpoint-down(xl){
			padding: 60px 30px;
		}
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			background-color: rgb(6 50 50 / 80%);
		}
	}
	&__image {
		position: relative;
		z-index: 1;
		height: 100%;
		margin-left: 20px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.circle-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 200px;
			height: 200px;
			line-height: 200px;
			text-align: center;
			border-radius: 50%;
			transition: all 700ms ease;
			backdrop-filter: blur(20px);
			background-color: rgb(255 255 255 / 20%);
			padding-top: 70px;
			@include media-breakpoint-down(md){
				padding-top: 40px;
			}
			span {
				display: block;
				color: var(--theme-color-white);
				font-size: 16px;
				line-height: 24px;
				font-weight: 500;
				i {
					transform: rotate(-45deg);
					transition: all 500ms ease;
				}
			}
			&:hover {
				span {
					i {
						transform: rotate(0);
					}
				}
			}
		}
	}
	&__item {
		position: relative;
		.section-header {
			max-width: 860px;
			.title {
				font-size: 80px;
				line-height: 90px;
				font-weight: 600;
				@include responsive-font(36px, 4vw, 80px, 1.2);
			}
			.text{
				font-size: 16px;
			}
		}
		.wrp {
			max-width: 640px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 80px;
			padding-top: 60px;
			margin-top: 60px;
			border-top: 1px solid rgb(255 255 255 / 20%);
			@include media-breakpoint-down(md){
				gap: 20px;
			}
		}
	}
}
// Contact six area end here ***