/*** 

====================================================================
    Features Section
====================================================================

***/

.feature-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: var(--theme-color-gray2);
	&.have-padding {
		padding-top: 340px;
	}
	.shape {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: -1;
		img {
			width: 100%;
		}
	}
}

.feature-block {
	.inner-box {
		text-align: center;
		padding: 40px 30px;
		background-color: var(--theme-color-white);
		box-shadow: 0px 5px 15px 0px #0000000d;
		position: relative;
		z-index: 1;
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			width: 0;
			height: 100%;
			content: "";
			background-color: var(--theme-color1);
			z-index: -1;
	    @include transition(all 500ms ease);
		}
		.title {
			line-height: 31px;
			text-transform: capitalize;
			margin: 0;
		}
		.icon-box {
			margin: 20px 0;
	    @include transition(all 900ms ease);
		}
		.arry-btn {
			font-size: 16px;
			color: var(--theme-color2);
			font-weight: 500;
			i {
		    @include transition(all 300ms ease);
				margin-left: 5px;
				color: var(--theme-color1);
				display: inline-block;
			}
			&:hover {
				i {
					transform: rotate(45deg);
				}
			}
		}
		&:hover {
			&::after {
				width: 100%;
				left: 0;
				right: unset;
			}
			.icon-box {
				transform: rotateY(360deg);
			}
			.arry-btn{
				i{
					color: var(--theme-color3);
				}
			}
		}
	}
}

/*** 

====================================================================
    Features Section Home Six Style
====================================================================

***/

// Feature two home 6 area start here ***
.feature-two {
	&-home6 {
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	&__wrp {
		margin: 0 auto;
		max-width: 1500px;
	}
	&__item {
		padding: 50px 0px;
		position: relative;
		z-index: 1;
		@include media-breakpoint-down(xl) {
			padding: 30px 0 0;
		}
		.feature__icon{
			height: 65px;
			width: 80px;
		}
		.feature__content {
			.title {
				margin-bottom: 30px;
				margin-top: 30px;
				padding-bottom: 30px;
				position: relative;
				&:before{
					background-color: var(--theme-color-black);
					content: "";
					height: 5px;
					left: 0;
					position: absolute;
					top: 100px;
					width: 5px;
					@include media-breakpoint-down(lg) {
						// top: 68px;
					}
				}
				&:after{
					background-color: rgba(var(--theme-color-black-rgb), 0.1);
					content: "";
					height: 1px;
					left: 0;
					position: absolute;
					top: 102px;
					width: 110%;
					@include media-breakpoint-down(lg) {
						// top: 70px;
						width: 100%;
					}
				}
			}
		}
		&:hover {
			.feature__icon {
				animation: iconHover1 0.5s ease-out;
			}
		}
	}
	&__text {
		position: relative;
		background-color: var(--theme-color7);
		border-radius: 100px;
		@include flex;
		height: 76px;
		justify-content: center;
		margin: 0 auto;
		max-width: 720px;
		@include media-breakpoint-down(md) {
			border-radius: 8px;
			display: block;
			height: auto;
			padding: 30px;
		}
		.icon {
			background-color: var(--theme-color-white);
			border-radius: 50px;
			height: 65px;
			left: 8px;
			line-height: 65px;
			position: absolute;
			text-align: center;
			width: 65px;
			@include media-breakpoint-down(md) {
				display: inline-block;
				left: 0;
				margin-bottom: 20px;
				position: relative;
			}
		}
		.text {
			color: var(--theme-color-white);
			font-family: var(--title-font);
			font-size: 18px;
			font-weight: 500;
			line-height: 35px;
			margin-left: 30px;
			@include media-breakpoint-down(md) {
				margin-left: 0;
			}
			a {
				color: var(--theme-color6);
				font-weight: 600;
				text-decoration: underline;
			}
			span{
				color: var(--theme-color6);
				font-size: 18px;
			}
		}
		gap: 10px;
	}
}
// Feature two home 6 area end here **

// Professional area start here ***
.professional {
	&-area {
		overflow: hidden;
		.floating-img2{
			left: 0;
			position: absolute;
			top: 0;
		}
		.floating-img{
			bottom: 0;
			left: 0;
			position: absolute;
		}
	}
	&__image {
		position: relative;
		z-index: 1;
		img {
			width: 100%;
		}
		.content {
			background-color: rgba(var(--theme-color-white-rgb), 0.3);
			backdrop-filter: blur(10px);
			bottom: 0;
			@include justify;
			gap: 20px;
			left: 0;
			max-width: 500px;
			padding: 41px 40px 36px;
			position: absolute;
			width: 100%;
			@include media-breakpoint-down(sm) {
				gap: 10px;
				padding: 20px;
			}
			@media (max-width: 374.98px){
				display: block;
			}
			ul {
				display: flex;
				gap: 20px;
				@include media-breakpoint-down(sm) {
					gap: 10px;
				}
				svg {
					transition: 0.5s;
				}
				&:hover {
					svg {
						transform: rotateY(180deg);
					}
				}
			}
			.icon {
				background-color: var(--theme-color-white);
				border-radius: 50%;
				font-size: 16px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				width: 40px;
			}
			.info {
				.title {
					color: var(--theme-color-white);
					line-height: 25px;
					margin-bottom: 0;
					span {
						color: inherit;
					}
				}
				.text {
					color: var(--theme-color-white);
					font-size: 14px;
					letter-spacing: 2px;
					text-transform: capitalize;
					@include media-breakpoint-down(sm) {
						font-size: 12px;
						letter-spacing: 1px;
						margin-top: 0;
					}
				}
			}
			.last-item {
				padding-left: 30px;
				@include media-breakpoint-down(sm) {
					padding-left: 10px;
				}
				@media (max-width: 374.98px){
					padding-left: 0px;
				}
			}
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		height: 100%;
		padding-left: 130px;
		padding-right: 100px;
		@media (max-width: 1899.98px){
			padding-right: 30px;
		}
		@media (max-width: 1499.98px){
			padding-left: 0;
			padding-right: 0;
		}
		@include media-breakpoint-down(xl) {
			margin-top: 40px;
			padding: 50px 30px;
		}
		ul {
			li {
				color: var(--theme-color-white);
				@include flex;
				gap: 10px;
				.icon{
					background-color: rgba(var(--theme-color-white-rgb), .13);
					height: 20px;
					line-height: 20px;
					text-align: center;
					width: 20px;
				}
				i {
					border-radius: 50%;
					color: var(--theme-color-white);
					font-size: 10px;
				}
				&:not(.last-child) {
					margin-bottom: 15px;
				}
			}
		}
	}
	&__wrp {
		margin-top: 50px;
		padding-top: 90px;
		@include media-breakpoint-down(lg) {
			padding-top: 40px;
		}
	}
	&__item {
		@include flex;
		gap: 30px;
		@include media-breakpoint-down(sm) {
			gap: 20px;
			.icon {
				svg {
					width: 60px;
				}
			}
		}
		.title {
			margin-bottom: 10px;
		}
		.text {
			line-height: 28px;
		}
		&:hover {
			.icon {
				svg {
					animation: flipInY 1s forwards;
				}
			}
		}
		&-last {
			@extend.professional__item;
			align-items: start;
			margin-bottom: 50px;
			.title {
				line-height: 38px;
			}
			.item-btn {
				color: var(--headings-color);
				font-size: 14px;
				font-weight: 500;
				@include flex;
				gap: 10px;
				line-height: 16px;
				margin-top: 15px;
				text-transform: uppercase;
			}
		}
	}
}