/***

==================================================================
	Main Footer
==================================================================

***/

.main-footer {
	position: relative;
	background-color: var(--theme-color2);

	/* Widget Section */
	.widgets-section {
		padding: 60px 0 100px;
		@include media-breakpoint-down(lg) {
			padding-bottom: 30px;
		}
	}
	.footer-column {
		@include media-breakpoint-down(lg) {
			margin-bottom: 30px;
		}
	}
	.footer-widget {
		&.about-widget {
			max-width: 300px;
			.input-field {
				position: relative;
				z-index: 1;
				label{
					display: none;
				}
				input {
					padding: 10px 25px;
					background-color: var(--theme-color-white);
					border-radius: 9px;
					font-size: 16px;
					width: 100%;
				}
				button {
					width: 45px;
					height: 45px;
					line-height: 45px;
					border-radius: 12px;
					color: var(--headings-color);
					font-size: 16px;
					text-align: center;
					background-color: var(--theme-color1);
					position: absolute;
					top: 5px;
					right: 5px;
					padding: 0px;
					i {
						transition: all 300ms ease;
						display: inline-block;
					}
					&:hover {
						i {
							transform: rotate(45deg);
						}
					}
				}
			}
			@include media-breakpoint-down(lg) {
				max-width: 100%;
			}
		}
		&.contact-widget {
			.user-links {
				li {
					display: flex;
					gap: 10px;
					i {
						color: var(--theme-color1);
						font-size: 14px;
					}
				}
			}
		}
	}
	.widget-title {
		position: relative;
		color: var(--theme-color-white);
		margin-bottom: 20px;
	}
	.widget-content {
		.text {
			color: #d1d5db;
			font-size: 16px;
			line-height: 30px;
			margin: 20px 0;
		}
	}
}

//User Links
.user-links {
	position: relative;
	li {
		position: relative;
		line-height: 32px;
		font-weight: 400;
		margin-bottom: 8px;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			position: relative;
			display: inline-block;
			color: inherit;
			font-size: 16px;
			transition: all 300ms ease;
			color: var(--theme-color-white);
			font-weight: 400;
			&:before {
				position: absolute;
				left: 0;
				bottom: 3px;
				width: 0;
				height: 1px;
				background-color: var(--bg-theme-color1);
				content: "";
				transition: all 300ms ease;
			}
			&:hover:before {
				width: 100%;
			}
		}
	}
	&.style-two {
		li {
			padding-left: 0;
			&:before {
				display: none;
			}
		}
	}
	&.two-column {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 50%;
			flex: 0 0 50%;
		}
	}
}

//Recent Post
.recent-post {
	position: relative;
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
	.inner {
		position: relative;
		.post-info {
			position: relative;
			display: flex;
			font-size: 16px;
			align-items: center;
			color: #adadad;
			line-height: 30px;
			margin-bottom: 23px;
			padding-left: 25px;
			i {
				position: absolute;
				top: 0;
				left: 0;
				font-size: 14px;
				margin-right: 10px;
				color: var(--theme-color1);
			}
		}
		.post-title {
			color: var(--theme-color-white);
			letter-spacing: -0.8px;
			margin-bottom: 0;
		}
	}
}

//Contact List
.contact-list {
	position: relative;
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
	.inner {
		position: relative;
		.list-info {
			color: #75727b;
			position: relative;
			display: flex;
			font-size: 16px;
			align-items: center;
			line-height: 1.6;
			margin-bottom: 0;
			&:first-child {
				margin-bottom: 13px;
				line-height: 1.875;
			}
			i {
				position: absolute;
				top: 0;
				left: 0;
				font-size: 14px;
				margin-right: 10px;
				color: var(--theme-color1);
			}
		}
		.post-title {
			color: var(--theme-color-white);
			letter-spacing: -0.8px;
			margin-bottom: 0;
		}
	}
}

/* Subscribe Form */
.subscribe-form {
	position: relative;
	.form-group {
		position: relative;
		input[type="text"],
		input[type="email"] {
			position: relative;
			display: block;
			height: 72px;
			width: 100%;
			font-size: 16px;
			line-height: 32px;
			color: var(--theme-color-white);
			padding: 20px 30px;
			background: transparent;
			border: 1px solid #333f4d;
			border-radius: 10px;
			transition: all 300ms ease;
			&::placeholder {
				color: var(--theme-color-white);
			}
		}
		.theme-btn {
			position: absolute;
			right: 0;
			top: 0;
			padding: 20px 30px;
			line-height: 32px;
			border-radius: 0 10px 10px 0;
			@include flex-center;
		}
	}
}

.footer-cta {
	position: relative;
	z-index: 1;
	background-color: var(--theme-color1);
	padding: 60px 80px;
	border-radius: 11px;
	display: flex;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: space-between;
	.sec-title {
		max-width: 570px;
	}
	.text {
		color: var(--headings-color);
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 0;
	}
	.btn-wrp {
		margin-right: 30px;
		text-align: center;
		width: fit-content;
		.cta-btn {
			font-weight: 500;
			font-size: 16px;
			line-height: 16px;
			padding: 20px 45px;
			border-radius: 13px;
			background-color: var(--theme-color-white);
			i {
				display: inline-block;
				transition: all 300ms ease;
				margin-left: 5px;
			}
			&:hover {
				color: var(--headings-color);
				i {
					transform: rotate(45deg);
				}
			}
		}
		.text {
			margin-top: 18px;
		}
	}

	.bg-shape {
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		z-index: -1;
		img {
			height: 100%;
		}
	}

	.arry {
		position: absolute;
		top: 50%;
		left: 55%;
		transform: translateY(-50%);
		@include media-breakpoint-down(xl) {
			display: none;
		}
	}

	@include media-breakpoint-down(md) {
		padding: 30px 20px;
	}
}

/*=== Footer Bottom ===*/
.footer-bottom {
	position: relative;
	z-index: 1;
	border-top: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	.inner-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.copyright-text {
		position: relative;
		margin-bottom: 0;
		color: rgba(var(--theme-color-white-rgb), 0.45);
		font-size: 16px;
		span {
			color: var(--theme-color-white);
		}
		a {
			color: var(--theme-color-white);
			&:hover {
				color: var(--theme-color-white);
			}
		}
	}

	.footer-nav {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		li {
			font-size: 16px;
			line-height: 32px;
			a {
				color: rgba(var(--theme-color-white-rgb), 0.55);
				&:hover {
					color: var(--theme-color-white);
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		justify-content: center;
		gap: 5px;
		padding: 15px 0;
		padding-top: 30px;

		.copyright-text {
			font-size: 14px;
		}
	}

	.goTop-btn {
		overflow: hidden;
		display: inline-block;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		border-radius: 14px;
		color: var(--headings-color);
		background-color: var(--theme-color1);
		position: absolute;
		top: -130px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 99;
		i {
			transition: all 300ms ease;
			display: inline-block;
			&:first-child {
				position: absolute;
				top: 0;
				left: 23px;
			}
			&:last-child {
				transform: translateY(60px);
			}
		}

		&:hover {
			i {
				&:first-child {
					// top: -60px;
				}
				&:last-child {
					transform: translateY(0);
				}
			}
		}
	}
}

.footer-bottom-two {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	.goTop-btn {
		overflow: hidden;
		display: inline-block;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		border-radius: 14px;
		color: var(--headings-color);
		background-color: var(--theme-color1);
		position: absolute;
		top: -130px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 99;
		i {
			transition: all 300ms ease;
			display: inline-block;
			&:first-child {
				position: absolute;
				top: 0;
				left: 23px;
			}
			&:last-child {
				transform: translateY(60px);
			}
		}

		&:hover {
			i {
				&:first-child {
					// top: -60px;
				}
				&:last-child {
					transform: translateY(0);
				}
			}
		}
	}
}
//=============================
// footer Style One
//=============================
.footer-style-one {
	background-color: var(--theme-color4);
	overflow: hidden;

	.outer-box {
		display: flex;
	}

	.widgets-section {
		padding: 70px;
		@include media-breakpoint-down(sm) {
			padding: 30px 12px;

			.footer-column {
				margin-bottom: 10px;
			}
		}
	}

	.footer-top {
		border-bottom: 1px solid #324d4e;

		padding: 70px 40px 40px 70px;

		.info-item {
			ul {
				display: flex;
				align-items: center;
				gap: 15px;
				li {
					i {
						display: inline-block;
						max-width: 55px;
						min-width: 55px;
						width: 100%;
						height: 55px;
						line-height: 55px;
						color: var(--theme-color-white);
						border-radius: 50%;
						text-align: center;
						background-color: rgba(var(--theme-color-white-rgb), 0.11);
						font-size: 24px;
					}
					span {
						color: var(--theme-color-white);
					}
					.title {
						margin-bottom: 0;
						color: var(--theme-color-white);
						font-size: 20px;
						line-height: 26px;
					}
				}
			}
			&:hover {
				i {
					animation: ring-animation 2s ease-in-out infinite;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			padding: 30px 12px;
		}
	}

	.footer-left {
		width: 110px;
		position: relative;
		z-index: 1;
		border-right: 2px solid rgba(169, 167, 167, 0.188);
		.logo {
			transform: rotate(-90deg);
			position: absolute;
			top: 120px;
			left: -40px;
		}
		.back-top-btn {
			background-color: transparent;
			position: absolute;
			top: 65%;
			left: 40px;
			&.mobile-nav-toggler{
				display: inline-block;
				margin: 0;
			}
		}

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	.footer-bottom {
		border-top: 2px solid #324d4e;
		padding-left: 70px;
		.copyright-text {
			a {
				color: #d5ad4b;
			}
		}
		@include media-breakpoint-down(sm) {
			padding-left: 0;
			text-align: center;
		}
	}

	.right-column {
		background-color: #d4f25a;
		padding: 30px;
		position: relative;
		z-index: 1;
		.inner-column {
			max-width: 350px;
			margin: 0 auto;
			text-align: center;
			display: flex;
			flex-direction: column;
			gap: 40px;
			align-items: center;
			justify-content: center;
			height: 100%;
			.title {
				font-size: 42px;
				line-height: 50px;
				color: var(--theme-color-black);
				margin-bottom: 0;
			}
			.circle-btn {
				display: inline-block;
				width: 244px;
				height: 244px;
				line-height: 244px;
				text-align: center;
				font-size: 18px;
				font-weight: 700;
				color: var(--theme-color-white);
				background-color: var(--theme-color2);
				border-radius: 50%;
				position: relative;
				z-index: 1;
				overflow: hidden;

				i {
					margin-left: 5px;
					display: inline-block;
					transition: all 300ms ease;
				}

				&::after {
					position: absolute;
					bottom: 10px;
					right: 10px;
					width: 55px;
					height: 55px;
					border-radius: 50%;
					background-color: var(--theme-color1);
					border-radius: 50%;
					content: "";
					transition: all 300ms ease;
					z-index: -1;
				}

				&:hover {
					&::after {
						width: 130%;
						height: 130%;
						bottom: -50px;
						right: -50px;
					}
					i {
						transform: rotate(405deg);
					}
				}
			}
			.time {
				color: #101249;
				text-transform: uppercase;
				margin-bottom: 0;
			}
			.date {
				font-weight: 400;
				line-height: 18px;
				color: #101249;
				margin-bottom: 0;
				text-transform: capitalize;
			}
		}
		.shape {
			position: absolute;
			bottom: 0;
			left: 0;
			img {
				width: 100%;
			}
			z-index: -1;
		}
	}

	.footer-widget {
		.input-field {
			input {
				border-radius: 38px;
				padding: 10px 25px;
				width: 100%;
			}
			.btn-one-rounded {
				min-width: 100%;
				color: var(--theme-color-black);
				margin-top: 20px;
			}
		}
		.footer-nav {
			gap: 15px;
			display: flex;
			align-items: center;
			margin-top: 20px;
			li {
				a {
					display: inline-block;
					width: 34px;
					height: 34px;
					line-height: 36px;
					border-radius: 50%;
					text-align: center;
					background-color: rgba(var(--theme-color-white-rgb), 0.1);
					color: var(--theme-color-white);
					font-size: 15px;
					&:hover {
						background-color: var(--theme-color1);
						color: var(--theme-color-black);
					}
				}
			}
		}
	}
}

//=============================
// footer Style Two
//=============================
.footer-style-two {
	overflow: hidden;
	position: relative;
	z-index: 1;

	.sec-shape {
		position: absolute;
		bottom: -30px;
		right: -320px;
		z-index: -1;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	.footer-top {
		display: flex;
		align-items: center;
		gap: 30px;
		justify-content: space-between;
		.logo {
			width: 300px;
			background-color: var(--theme-color1);
			padding: 40px 59px;
		}
		.subscribe-box {
			display: flex;
			align-items: center;
			gap: 30px;
			.title {
				color: var(--theme-color-white);
				margin-bottom: 0;
			}
			.input-field {
				position: relative;
				z-index: 1;
				display: flex;
				align-items: center;
				gap: 30px;
				.fa-envelope {
					font-size: 14px;
					color: var(--theme-color-white);
					position: absolute;
					top: 12px;
					left: 25px;
				}
				input {
					background-color: transparent;
					border: 1.2px solid rgba(var(--theme-color-white-rgb), 0.1);
					border-radius: 6px;
					color: rgba(var(--theme-color-white-rgb), 0.55);
					padding: 10px 25px;
					padding-left: 50px;
					width: 100%;
					&::placeholder {
						color: rgba(var(--theme-color-white-rgb), 0.55);
					}
					&:focus {
						border: 1.2px solid rgba(var(--theme-color1-rgb), 0.5);
					}
				}
				.btn-one-rounded {
					min-width: 150px;
					border-radius: 6px;
					color: var(--theme-color-black);
				}
			}

			@include media-breakpoint-down(md) {
				flex-wrap: wrap;
			}
		}

		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
			.logo {
				margin: 0 auto;
			}
			padding-bottom: 30px;
		}
	}

	.widgets-section {
		padding: 80px 0;
		border-top: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
		border-bottom: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
		position: relative;
		z-index: 1;
		&::after {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
			background-color: rgba(var(--theme-color-white-rgb), 0.1);
			width: 1px;
			height: 100%;
			content: "";
			@include media-breakpoint-down(xl) {
				display: none;
			}
		}
		@include media-breakpoint-down(md) {
			padding: 60px 0;
		}
	}

	.footer-widget {
		&.about-widget {
			max-width: 590px;
			.widget-title {
				font-size: 32px;
				margin-bottom: 30px;
			}
			.text {
				color: var(--theme-color-white);
				font-size: 16px;
				line-height: 30px;
				margin-bottom: 0;
				max-width: 550px;
			}
			.input-field {
				max-width: 280px;
				input {
					border-radius: 38px;
				}
				.btn-one-rounded {
					min-width: 100%;
					color: var(--theme-color-black);
					margin-top: 20px;
				}
			}
		}
		.widget-content {
			.user-links {
				li {
					a {
						color: rgba(var(--theme-color-white-rgb), 0.55);
						font-weight: 500;
						&::before {
							display: none;
						}
						&:hover {
							color: var(--theme-color-white);
						}
					}
				}
			}
		}
		&.contact-widget {
			max-width: 250px;
			margin-left: auto;
			.text {
				margin-bottom: 0;
				color: rgba(var(--theme-color-white-rgb), 0.55);
				font-weight: 500;
				font-size: 20px;
				line-height: 35px;
			}
			a {
				font-weight: 500;
				color: rgba(var(--theme-color-white-rgb), 0.55);
				font-size: 20px;
				line-height: 35px;
				&:hover {
					color: var(--theme-color-white);
				}
			}
			.nuber {
				a {
					color: var(--theme-color-white);
					font-weight: 700;
					line-height: 45px;
				}
			}

			@include media-breakpoint-down(sm) {
				margin: 0;
			}
		}
	}

	.footer-bottom {
		.footer-nav {
			gap: 15px;
			li {
				a {
					display: inline-block;
					width: 34px;
					height: 34px;
					line-height: 36px;
					border-radius: 50%;
					text-align: center;
					background-color: rgba(var(--theme-color-white-rgb), 0.1);
					color: var(--theme-color-white);
					font-size: 15px;
					&:hover {
						background-color: var(--theme-color1);
						color: var(--theme-color-black);
					}
				}
			}
		}
	}
}

//=============================
// footer Style Three
//=============================
.footer-style-three {
	overflow: hidden;
	position: relative;
	z-index: 1;
	.box-shape {
		width: 189px;
		height: 189px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		.box1 {
			height: 100%;
			width: 50%;
			background-color: rgba(var(--theme-color-white-rgb), 0.15);
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.box2 {
			width: 100%;
			height: 50%;
			background-color: rgba(var(--theme-color-white-rgb), 0.15);
			position: absolute;
			bottom: 0;
			left: 0;
		}

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.sec-shape {
		position: absolute;
		top: 0;
		right: -280px;
		z-index: -1;
	}
	.footer-column{
		margin-bottom: 0;
	}
	&.at-home6{
		background-color: var(--theme-color7);
		.footer-cta{
			background-color: var(--theme-color6);
			.arry{
				img{
					filter: invert(1);
				}
			}
		}
		.goTop-btn{
			background-color: var(--theme-color6);
			color: var(--theme-color-white);
		}
		.footer-widget.about-widget .input-field button{
			background-color: var(--theme-color6);
			color: var(--theme-color-white);
		}
		.footer-widget.contact-widget .user-links li i{
			color: var(--theme-color6);
		}
	}
}

//=============================
// footer Style Four
//=============================
.footer-style-four {
	overflow: hidden;
	position: relative;
	z-index: 1;

	.sec-shape {
		position: absolute;
		bottom: -150px;
		left: -280px;
		z-index: -1;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	.widgets-section {
		padding: 0;
		padding-top: 120px;
		padding-bottom: 100px;
		@include media-breakpoint-down(md) {
			padding: 60px 0;
		}
	}

	.footer-widget {
		&.about-widget {
			max-width: 590px;
			.widget-title {
				font-size: 32px;
				margin-bottom: 30px;
			}
			.text {
				color: var(--theme-color-white);
				font-size: 16px;
				line-height: 30px;
				margin-bottom: 0;
				max-width: 550px;
			}
			.input-field {
				display: flex;
				align-items: center;
				gap: 30px;
				margin-top: 60px;
				.fa-envelope {
					font-size: 14px;
					color: var(--theme-color-white);
					position: absolute;
					top: 12px;
					left: 25px;
				}
				input {
					background-color: transparent;
					border: 1.2px solid rgba(var(--theme-color-white-rgb), 0.1);
					border-radius: 6px;
					color: rgba(var(--theme-color-white-rgb), 0.55);
					padding-left: 50px;
					&::placeholder {
						color: rgba(var(--theme-color-white-rgb), 0.55);
					}
					&:focus {
						border: 1.2px solid rgba(var(--theme-color1-rgb), 0.5);
					}
				}
				.btn-one-rounded {
					min-width: 150px;
					border-radius: 6px;
					color: var(--theme-color-black);
				}
			}
			.privacy {
				font-weight: 500;
				color: rgba(var(--theme-color-white-rgb), 0.55);
				font-size: 16px;
				margin-top: 15px;
				a {
					color: var(--theme-color-white);
					text-decoration: underline;
					&:hover {
						color: var(--theme-color1);
					}
				}
			}
		}
		.widget-content {
			.user-links {
				li {
					a {
						color: rgba(var(--theme-color-white-rgb), 0.55);
						font-weight: 500;
						&::before {
							display: none;
						}
						&:hover {
							color: var(--theme-color-white);
						}
					}
				}
			}
		}
		&.contact-widget {
			max-width: 250px;
			margin-left: auto;
			.text {
				margin-bottom: 0;
				color: rgba(var(--theme-color-white-rgb), 0.55);
				font-weight: 500;
				font-size: 20px;
				line-height: 35px;
			}
			a {
				font-weight: 500;
				color: rgba(var(--theme-color-white-rgb), 0.55);
				font-size: 20px;
				line-height: 35px;
				&:hover {
					color: var(--theme-color-white);
				}
			}
			.nuber {
				a {
					color: var(--theme-color-white);
					font-weight: 700;
					line-height: 45px;
				}
			}

			@include media-breakpoint-down(sm) {
				margin: 0;
			}
		}
	}

	.footer-bottom {
		padding: 20px 0;
		.copyright-text {
			color: var(--theme-color-white);
			a {
				text-decoration: none;
				color: #ffcc53;
			}
		}

		.language {
			.nice-select {
				height: 35px;
				line-height: 35px;
				text-transform: uppercase;
				background-color: rgba(var(--theme-color-white-rgb), 0.1);
				border-radius: 20px;
				border: none;
				padding-left: 12px;
				padding-right: 40px;
				color: var(--theme-color-white);
				&::before {
					width: 20px;
					height: 20px;
					line-height: 23px;
					background-color: var(--theme-color1);
					border-radius: 50%;
					text-align: center;
					top: 8px;
					right: 7px;
				}
				.current {
					font-size: 12px;
					color: var(--theme-color-white);
				}
				option{
					color: #000;
				}
				.list {
					bottom: 100%;
					top: unset;
				}
			}
		}
	}
}
