// Growth  area start here ***
.growth-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	@include background;
	&.style-two{
		&::after {
			background: radial-gradient(
				95.51% 264.21% at 92.63% 41.85%, 
				rgba(0, 7, 31, 0) 0%, 
				rgba(6, 50, 50, 0.98) 99.98%, 
				rgba(6, 50, 50, 0.98) 99.99%
			);
		}
	}

	.sec-shape {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 0;
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(
			95.51% 264.21% at 92.63% 41.85%,
			rgba(0, 7, 31, 0) 0%,
			rgba(4, 44, 42, 0.98) 99.98%,
			rgba(4, 44, 42, 0.98) 99.99%
		);
		content: "";
		z-index: -1;
	}

	.sec-title {
		border-bottom: 1px solid rgba(230, 230, 230, 0.212);
	}
}

.growth-block {
	display: flex;
	align-items: center;
	gap: 30px;

	.pie-graph {
		position: relative;
		z-index: 1;
		width: fit-content;
		height: 122px;
		.inner-text {
			width: 80px;
			height: 80px;
			line-height: 80px;
			background-color: var(--theme-color-white);
			font-weight: 700;
			font-size: 20px;
			color: var(--theme-color4);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			border-radius: 50%;
		}
	}

	.content-box {
		.title {
			font-size: 20px;
			text-transform: capitalize;
			color: var(--theme-color-white);
			margin-bottom: 10px;
		}
		.text {
			font-size: 16px;
			line-height: 28.8px;
			color: #d1d5db;
			margin-bottom: 0;
		}
	}
}
// Growth area end here ***

// Growth area start here ***
.growth-section-two {
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	height: 710px;
	&.height-auto{
		height: auto;
	}
	@include media-breakpoint-down(xxl) {
		height: 600px;
	}

	@include media-breakpoint-down(xl) {
		height: auto;
		background-image: none !important;
		background-color: var(--theme-color-gray2);
	}

	.bg-shape {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.outer-box {
		max-width: 1250px;
		margin: 0 auto;
	}

	.growth-block {
		.pie-graph{
			.inner-text{
				background-color: var(--theme-color2);
				color: var(--theme-color-white);
			}
		}
		.content-box {
			.title {
				color: var(--headings-color);
			}
			.text {
				color: var(--text-font);
			}
		}
	}
}
// Growth area end here ***