// Horizontal accordion area start here ***
.hzAccordion {
	&-area {
		overflow: hidden;
		background-color: var(--theme-color7);
		.outer-box{
			padding: 0px 50px;
			@include media-breakpoint-down(sm){
				padding: 0px;
			}
		}
	}
	&__wrp {
		display: flex;
		width: 100%;
		height: 700px;
		overflow: hidden;
		flex-wrap: wrap;
		@include media-breakpoint-down(xxl) {
			height: 450px;
		}

		@include media-breakpoint-down(lg) {
			flex-direction: column;
			height: auto;
		}
	}
	&__item {
		flex: 0.7;
		min-width: 190px;
		transition: 0.7s;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		z-index: 1;
		&:last-child{
			.content {
				.wrp {
					padding-right: 0;
				}
			}
		}
		.head {
			.head-title {
				margin: 0;
				padding-left: 25px;
				text-align: center;
				position: absolute;
				bottom: 0;
				left: 0;
				writing-mode: vertical-rl;
				height: 100%;
				transform: rotate(180deg);
				border-left: 1px solid var(--border-light);
				display: flex;
    			align-items: center;
				flex-wrap: wrap;
				justify-content: space-between;
				.title {
					display: block;
					max-height: 410px;
					text-align: left;
					color: var(--theme-color-white);
				}
				.number {
					font-size: 150px;
					line-height: 150px;
					font-weight: 500;
					color: transparent;
					-webkit-text-stroke: 1px var(--theme-color-white);
					transition: 0.7s;
				}
				&:hover {
					.number {
						color: var(--theme-color-white);
					}
				}
			}
		}
		.content {
			display: none;
			height: 100%;
			margin-left: 180px;
			position: relative;
			z-index: 1;
			.image {
				height: 100%;
				max-width: 450px;
				img {
					height: 100%;
				}
			}
			.wrp {
				display: flex;
				padding: 0 60px;
				gap: 60px;
				height: 100%;
			}
			.content-wrp {
				max-width: 330px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			.arry-btn {
				font-size: 70px;
				color: var(--theme-color-silver);
				i {
					transition: all 500ms ease;
					&:hover {
						transform: rotate(45deg);
					}
				}
			}
			.shape {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				z-index: -1;
			}
			.text {
				color: var(--paragraph-light);
			}
		}
		&.last-child {
			.head {
				.head-title {
					padding-left: 0;
					border: 1px solid transparent;
				}
			}
			&.active {
				.head {
					.head-title {
						padding-left: 25px;
						border-left: 1px solid var(--border-light);
					}
				}
			}
		}
		&.active {
			.head {
				.number {
					-webkit-text-fill: var(--theme-color-white);
					color: var(--theme-color-white);
				}
			}
			flex: 4;
			.content {
				display: block;
			}
		}
		@include media-breakpoint-down(xxl) {
			min-width: 75px;
			.head {
				.head-title {
					padding-left: 5px;
					.title {
						font-size: 18px;
						line-height: 30px;
						max-height: 280px;
					}
					.number {
						font-size: 50px;
						line-height: 50px;
					}
				}
			}
			.content {
				margin-left: 75px;

				.wrp {
					padding: 0 20px;
					gap: 10px;
				}

				.arry-btn {
					font-size: 40px;
				}
			}
		}
		@include media-breakpoint-down(lg){
			.head {
				.head-title {
					position: unset;
					writing-mode: unset;
					transform: unset;
					border: none;
					padding: 0;
					border-bottom: 1px solid var(--border-light);
					margin-bottom: 30px;
					padding-bottom: 10px;
					flex-wrap: nowrap;
					gap: 10px;
					.number {
						font-size: 30px;
						line-height: 40px;
					}
				}
			}
			.content {
				margin-left: 0;
				.wrp {
					padding: 20px 0px;
					justify-content: space-between;
				}
			}
			&.active {
				.head {
					.head-title {
						margin-bottom: 0px;
					}
				}
			}
			&.last-child {
				.head {
					.head-title {
						margin-bottom: 0;
					}
				}
				&.active {
					.head {
						.head-title {
							padding-left: 0;
							border-left: none;
						}
					}
				}
			}
		}
	}
}
// Horizontal accordion area end here ***
