/*** 

====================================================================
      Mobile Menu
====================================================================

***/

.mobile-nav-toggler {
	position: relative;
	font-size: 28px;
	line-height: 20px;
	cursor: pointer;
	color: var(--theme-color1);
	display: none;
	top: 0;
	margin-left: 30px;
	order: 8;
	@include media-breakpoint-down(lg) {
		display: block;
	}
	@include media-breakpoint-down(md) {
		margin-left: 20px;
	}
}

.mobile-menu {
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	max-width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 999999;
	.menu-backdrop {
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: rgba(0, 0, 0, 0.7);
		opacity: 0;
		visibility: hidden;
	}
	.upper-box {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
		padding: 15px 20px;
	}
	.close-btn {
		position: relative;
		top: 0px;
		right: -5px;
		text-align: center;
		font-size: 18px;
		color: #ffffff;
		height: 30px;
		width: 30px;
		line-height: 30px;
		background-color: rgba(255, 255, 255, 0.1);
		cursor: pointer;
		z-index: 10;
		transition: all 0.5s ease;
		transform: translateY(-50px);
		&:hover {
			opacity: 0.5;
		}
	}
	.nav-logo {
		position: relative;
		text-align: left;
		width: 100%;
		img {
			max-height: 50px;
		}
	}
	.menu-box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		max-height: 100%;
		overflow-y: auto;
		background-color: #222;
		padding: 0px 0px;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		border-radius: 0px;
		transform: translateX(101%);
	}
}

.mobile-menu-visible {
	overflow: hidden;
	.mobile-menu {
		opacity: 1;
		visibility: visible;
		.menu-backdrop {
			opacity: 1;
			visibility: visible;
			transition: all 0.4s ease;
		}
		.menu-box {
			opacity: 1;
			visibility: visible;
			transition: all 0.4s ease 200ms;
			transform: translateX(0%);
		}
		.content-box {
			padding: 30px 20px;
			border-top: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
			border-bottom: 1px solid rgba(var(--theme-color-white-rgb), 0.1);

			.title {
				color: var(--theme-color-white);
				margin-bottom: 10px;
			}

			.text {
				font-size: 16px;
				line-height: 28px;
				color: rgba(var(--theme-color-white-rgb), 0.5);
                margin-bottom: 0;
                max-width: 245px;
			}
		}
		.close-btn {
			transform: translateY(0px);
		}
	}
	.scroll-to-top {
		opacity: 0;
		visibility: hidden;
	}
}

.mobile-menu .navigation {
	position: relative;
	display: block;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	li {
		position: relative;
		display: block;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		> ul > li:last-child {
			border-bottom: none;
		}
		> ul > li:first-child {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
		}
		> a {
			position: relative;
			display: block;
			line-height: 24px;
			padding: 10px 20px;
			font-size: 16px;
			color: #ffffff;
			font-weight: 400;
			text-transform: capitalize;
		}
		&:hover > a,
		&.current > a {
			color: #ffffff;
		}
		&.dropdown .dropdown-btn {
			position: absolute;
			right: 0px;
			top: 0px;
			width: 44px;
			height: 44px;
			text-align: center;
			font-size: 16px;
			line-height: 44px;
			color: #ffffff;
			cursor: pointer;
			z-index: 5;
			&:after {
				content: "";
				position: absolute;
				left: 0px;
				top: 10px;
				width: 1px;
				height: 24px;
				border-left: 1px solid rgba(255, 255, 255, 0.1);
			}
			&.active i:before {
				content: "\f106";
			}
		}
	}
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul {
	display: none;
}

.mobile-menu .navigation li > ul > li {
	padding-left: 20px;
}

.contact-list-one {
	position: relative;
	padding: 30px 20px 20px;
	li {
		position: relative;
		padding-left: 54px;
		min-height: 50px;
		margin-bottom: 20px;
		.icon {
			position: absolute;
			left: 0;
			top: 3px;
			font-size: 34px;
			line-height: 50px;
			color: #ffffff;
		}
		.title {
			display: block;
			font-size: 12px;
			color: var(--theme-color1);
			font-weight: 400;
			text-transform: uppercase;
		}
		a {
			color: #fff;
		}
		.text {
			font-size: 14px;
			line-height: 24px;
			color: #ffffff;
			a {
				color: #ffffff;
				transition: all 300ms ease;
			}
		}
	}
}

.contact-info-box {
	color: #fff;
}

.mobile-menu .social-links {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #222;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: auto;
	li {
		position: relative;
		text-align: center;
		width: 100%;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
		a {
			position: relative;
			display: block;
			line-height: 50px;
			height: 50px;
			font-size: 14px;
			text-align: center;
			color: #ffffff;
			transition: all 300ms ease;
			&:hover {
				color: var(--theme-color2);
			}
		}
	}
}

/***

====================================================================
  Hidden Sidebar style
====================================================================

***/

.toggle-hidden-bar {
	position: relative;
}

.hidden-bar {
	position: fixed;
	right: 0;
	top: 0px;
	height: 100%;
	overflow-y: auto;
	z-index: 99999;
	max-width: 320px;
	width: 100%;
	opacity: 0;
	transform: translateX(100%);
	visibility: hidden;
	background: #ffffff;
	transition: all 0.5s ease;

	&::-webkit-scrollbar {
		width: 2px;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 2px #cecece;
		box-shadow: inset 0 0 2px #cecece;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: #7a7a7a;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #7a7a7a;
	}
	.inner-box {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: var(--theme-color-dark);
		height: 100%;
	}
	.upper-box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 20px 30px 15px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		.close-btn {
			position: relative;
			top: -5px;
			text-align: center;
			font-size: 18px;
			line-height: 30px;
			color: var(--theme-color1);
			cursor: pointer;
			z-index: 10;
			transition: all 0.5s ease;
			&:hover {
				opacity: 0.5;
			}
		}
		.nav-logo {
			position: relative;
			text-align: left;
			width: 100%;
			img {
				max-height: 40px;
			}
		}
	}

	.text-box {
		position: relative;
		padding: 25px 30px 25px;
		.title {
			color: var(--theme-color-light);
		}
		.text {
			color: var(--theme-color-light);
		}
	}
}

.hidden-bar-back-drop {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}

.active-hidden-bar .hidden-bar {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.active-hidden-bar .hidden-bar-back-drop {
	opacity: 1;
	visibility: visible;
}

.hidden-bar .social-links {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--theme-color-dark);
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	margin-top: auto;
	li {
		position: relative;
		text-align: center;
		width: 100%;
		border-right: 1px solid rgba(255, 255, 255, 0.2);
		a {
			position: relative;
			display: block;
			line-height: 50px;
			height: 50px;
			font-size: 14px;
			text-align: center;
			color: var(--theme-color-light);
			transition: all 300ms ease;
			&:hover {
				color: var(--theme-color1);
			}
		}
	}
}
