// Objective  area start here ***
.objective-section {
	overflow: hidden;
	position: relative;
	z-index: 1;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 58%;
		background-color: var(--theme-color-gray2);
		z-index: -1;
		content: "";
	}

	.content-column {
		.inner-column {
			padding: 50px;
			background-color: var(--theme-color-white);
			border-radius: 5px;
			box-shadow: 0px 8px 32px 0px #0000000a;
			overflow: hidden;
			height: 100%;
			.content {
				display: flex;
				align-items: center;
				gap: 30px;
				.image {
					overflow: hidden;
					border-radius: 10px;
					position: relative;
					z-index: 1;
					img {
						width: 100%;
					}
					.btn-play {
						width: 50px;
						height: 50px;
						line-height: 50px;
						background-color: var(--theme-color2);
						color: var(--theme-color-white);
						text-align: center;
						display: inline-block;
						border-radius: 50%;
						font-size: 15px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						&::after,
						&::before {
							opacity: 1;
							border: 20px solid rgba(var(--theme-color2-rgb), 0.5);
						}
					}
				}
				ul {
					li {
						font-size: 16px;
					}
				}
			}
			.progress {
				.progress-title {
					font-size: 18px;
					font-weight: 700;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 5px;
					text-transform: capitalize;
				}
				.bar {
					height: 2.21px;
					border-radius: 3px;
					.bar-inner {
						border-radius: 3px;
						background-color: var(--theme-color1);
					}
				}
			}
			.nav.nav-tabs {
				border-bottom: 1px solid rgba(2, 6, 38, 0.102);
				.nav-item {
					.nav-link {
						padding: 8px 50px;
						font-weight: 700;
						font-family: var(--title-font);
						text-transform: capitalize;
						border-radius: 2px;
						color: var(--headings-color);
						background-color: transparent;
						border: none;
						&.active {
							color: var(--theme-color-white);
							background-color: var(--theme-color2);
						}
						@include media-breakpoint-down(sm) {
							padding: 6px 20px;
						}
					}
				}
				@include media-breakpoint-down(sm) {
					justify-content: space-between;
				}
			}

			@include media-breakpoint-down(md) {
				padding: 30px 12px;
			}
			@include media-breakpoint-down(sm) {
				.content {
					flex-wrap: wrap;
					.image {
						width: 100%;
					}
				}
			}
		}
	}
}

.objective-block {
	padding: 70px 45px;
	padding-bottom: 90px;
	background-color: var(--theme-color-white);
	box-shadow: 0px 8px 32px 0px #0000000a;
	border-radius: 5px;
	overflow: hidden;
	height: 100%;
	position: relative;
	z-index: 1;
	.title {
		padding-left: 15px;
		border-left: 2.25px solid var(--theme-color1);
	}
	.outer-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 499.98px){
			display: block;
		}
		.item {
			width: 100%;
			.icon {
				margin-bottom: 10px;
			}
			@media (max-width: 499.98px){
				padding-left: 5px;
			}
			&:not(:first-child) {
				border-left: 1px solid #ebebeb;
				padding-left: 40px;
				@media (max-width: 499.98px){
					border: none;
					padding-left: 5px;
				}
			}
		}
	}
	.info {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-top: 20px;
		.icon {
			width: 48px;
			height: 48px;
			line-height: 48px;
			text-align: center;
			border-radius: 50%;
			border: 1px solid rgba(var(--theme-color-black-rgb), 0.09);
			background-color: var(--theme-color-white);
			box-shadow: 0px 4px 9px 0px #00000017;
		}
		.text {
			color: var(--headings-color);
			margin-bottom: 0;
			a {
				font-weight: 500;
				text-decoration: underline;
			}
		}
	}
	.triangle {
		position: absolute;
		bottom: 20px;
		left: 20px;
		z-index: -1;
	}

	@include media-breakpoint-down(md) {
		padding: 30px 12px;
		.triangle {
			display: none;
		}
	}
}
// Objective area end here ***
