// Processing area start here ***
.processing-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: var(--theme-color-gray);

	.shape {
		position: absolute;
		z-index: -1;
		left: -250px;
		bottom: 0;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	.outer-box {
		border: 1px dashed #d9d9d9;
		border-radius: 15px;
		padding-top: 40px;
		padding-bottom: 60px;

		@include media-breakpoint-down(md) {
			padding-top: 0;
			padding-bottom: 30px;
		}
	}

	.sec-text {
		text-align: center;
		font-size: 20px;
		line-height: 32px;
		font-weight: 700;
		a {
			color: #0c6460;
			border-bottom: 1px solid;
			line-height: 20px;
			&:hover {
				letter-spacing: 1px;
			}
		}

		@include media-breakpoint-down(sm) {
			font-size: 16px;
		}
	}

	@include media-breakpoint-down(xxl) {
		.container {
			max-width: 1424px;
		}
	}
}

.processing-block {
	.inner-box {
		padding: 30px;
		padding-bottom: 0;
		border-right: 1px solid #d9d9d9;
		.number {
			font-size: 66px;
			font-weight: 700;
			line-height: 66px;
			margin-bottom: 30px;
			color: transparent;
			-webkit-text-stroke: 1px var(--theme-color-dark);
			transition: all 300ms ease;
		}
		.title {
			margin-bottom: 10px;
		}
		.text {
			line-height: 30px;
			max-width: 270px;
		}
		&.last-block {
			border: none;
		}
		&:hover {
			.number {
				color: var(--theme-color-dark);
			}
		}

		@include media-breakpoint-down(md) {
			border: none;
			text-align: center;
			.number {
				margin-bottom: 5px;
			}
			.text {
				margin: 0 auto;
			}
		}
	}
}
// Processing area end here ***

// Process area start here ***
.process-section-four {
	overflow: hidden;
	background: linear-gradient(180deg, #ffffff 0%, #f8f5f2 100%);

	.process-tab {
		max-width: 1100px;
		margin-left: auto;
		.nav.nav-tabs {
			border-bottom: 1px solid rgba(var(--theme-color5-rgb), 0.1);
			justify-content: center;
			gap: 30px;

			.nav-link {
				border: none;
				background-color: transparent;
				padding: 0 25px;
				padding-bottom: 25px;
				font-size: 20px;
				font-weight: 500;
				color: var(--text-color);
				transition: all 300ms ease;
				position: relative;
				.number {
					margin-bottom: 0;
					font-size: 12px;
					width: 23px;
					height: 23px;
					line-height: 25px;
					background-color: var(--theme-color-white);
					border-radius: 50%;
					box-shadow: 0px 4px 17px 0px #00000021;
					text-align: center;
					transition: all 300ms ease;
					position: absolute;
					bottom: -11px;
					left: 50%;
					transform: translateX(-50%);
					font-family: var(--title-font);
					font-weight: 700;
					color: var(--theme-color2);
				}
				&.active {
					font-weight: 600;
					color: var(--theme-color2);
					border-bottom: 1px solid var(--theme-color2);
					.number {
						background-color: var(--theme-color2);
						color: var(--theme-color-white);
					}
				}
			}

			@include media-breakpoint-down(md) {
				flex-direction: column;
				border-bottom: none;
				align-items: center;
				gap: 20px;

				.nav-link {
					padding-bottom: 10px;
				}
			}
		}
	}

	.outer-box {
		max-width: 1170px;
		margin: 0 auto;
	}

	.image-column {
		.inner-column {
			.image {
				position: relative;
				z-index: 1;
				svg {
					width: 100%;
				}
				.image1 {
					max-width: 339px;
					box-shadow: 0px 10px 60px 0px #0000001a;
					border-radius: 5px;
					overflow: hidden;
					position: absolute;
					top: 45px;
					left: 15px;
					img {
						width: 100%;
					}
				}
				.image2 {
					max-width: 294px;
					box-shadow: 0px 10px 60px 0px #00000026;
					overflow: hidden;
					border-radius: 12px;
					position: absolute;
					right: 20px;
					bottom: 40px;
					img {
						width: 100%;
					}
				}
			}
		}
	}

	.content-column {
		.inner-column {
			max-width: 620px;
			.sec-title {
				max-width: 470px;
			}
			.list {
				display: flex;
				align-items: center;
				gap: 10px;
				justify-content: space-between;
				flex-wrap: wrap;
				ul {
					li {
						font-size: 18px;
						font-weight: 700;
						font-family: var(--title-font);
						color: #222222;
						i {
							margin-right: 5px;
						}

						&:not(:last-child) {
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}
// Process area end here ***
