/*** 

====================================================================
  room-section
====================================================================

***/

.rooms-section{
  position: relative;
  padding: 120px 0;
  background:#f8f5f0;
  .sec-title{
    @include media-breakpoint-down(sm){
      margin-bottom: 40px;
    }
    h2{
      @include media-breakpoint-down(sm){
        font-size: 32px;
      }
    }
  }
}

// .room-block
.room-block{
  &.col-lg-3 {
    .inner-box .box-caption .bx-links li {
      margin-right: 3px;
    }
  }
  .inner-box{
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:linear-gradient(to left, #222222, #222222);
      opacity: 0;
      visibility: hidden;
      z-index: 9;
      transition: all 0.3s ease;
    }
    &:hover {
      .box-caption {
        opacity: 1;
        visibility: visible;
        bottom: 30px;
      }
      .content-box {
        bottom: 84px;
        z-index: 9;
      }
      &:before {
        opacity: 0.4;
        visibility: visible;
      }
      .image-box {
        figure {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
    .box-caption {
      position: absolute;
      left: 30px;
      width: calc(100% - 60px);
      z-index: 99;
      border-top: 1px solid rgba(255,255,255,0.50);
      display: flex;
      align-items: flex-end;
      opacity: 0;
      visibility: hidden;
      bottom: 0;
      transition: all 0.3s ease;
      .book-btn {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        text-transform: uppercase;
        font-size: 14pxx;
        color: #ffffff;
        font-family: var(--text-font2);
        letter-spacing: 2px;
        border:1px solid rgba(255,255,255,0.50);
        &:hover {
          background-color: var(--theme-color1);
          border-color: transparent;
        }
      }
      .bx-links {
        margin-left: auto;
        li {
          display: inline-block;
          margin-right: 11px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }
    .image-box {
      figure {
        margin-bottom: 27px;
        overflow: hidden;
        img {
          transition: all 0.3s ease;
          object-fit: cover;
          width: 100%;
        }
      }
    }
    .content-box{
      position: absolute;
      bottom: 22px;
      right: 32px;
      text-align: right;
      transition: all 0.3s ease;
      z-index: 9;
      .title{
        font-size: 27px;
        margin-bottom: -6px;
        color: var(--theme-color-light);
      }
      .price{
        font-size: 14px;
        color: var(--theme-color-light);
      }
    }
    .image-box{
      .image-2{
        img{
          @include media-breakpoint-down(lg){
            width: 100%;
            height: 340px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
.room-facility-list{
  position: relative;
  .icon{
    border: 1px solid var(--theme-color1);
    border-radius: 50%;
    display: block;
    font-size: 22px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    transition: all 0.3s ease;
  }
  .list-one{
    &:hover{
      .icon{
        background-color: var(--theme-color1);
        color: #fff;
      }
    }
  }
}
.room-details__content-right {
  position: relative;
  display: block;
  margin-top: 40px;
}
.room-details__details-box {
  background-color: #f5f6f7;
  border: 1px solid var(--theme-color1);
  border-radius: 10px;
  padding: 43px 50px 30px 50px;
  position: relative;
  z-index: 1;
}
.product-details.rd-page .bx-wrapper{
  margin-bottom: 30px;
  .thumb-box li{
    height: auto;
  }
}

@media only screen and (max-width:480px) {
  .room-block .inner-box .box-caption .book-btn {padding: 0 10px;margin-right: 10px;}
  .room-block.col-lg-3 .inner-box .box-caption .bx-links li {margin-right: 10px;}
  .rooms-section {padding:80px 0;}
}

/***

====================================================================
    Product Section One
====================================================================

***/
.room-service-section{
  background-color: rgba(var(--theme-color1-rgb), 0.1);
}

.room-service-block-one {
  .inner-box {
    background-color: var(--theme-color-light);
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    &:hover {
      .image-box{
        img{
          transform: scale(1.1);
        }
      }
    }
    .image-box {
      .image{
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          @include transition(all 300ms ease);
          @include media-breakpoint-down(sm){
            height: auto;
          }
        }
      }
    }
  }
  .content-box {
    padding: 30px 30px 15px;
    position: relative;
    z-index: 2;
    @include transition(all 300ms ease);
    @include media-breakpoint-down(sm){
      padding: 20px;
    }
    .inner-box{
      border-bottom: 1px solid rgba(106, 105, 105, 0.2);
      margin-bottom: 25px;
      padding-bottom: 20px;
    }
    .title {
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 10px;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(sm){
        font-size: 20px;
      }
    }
    .price{
      color: var(--theme-color1);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
    }
    .facilities-box{
      position: relative;
    }
    .facilities-list{
      li{
        align-items: center;
        color: #818181;
        display: flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 25px;
      }
      i{
        color: #818181;
        font-size: 24px;
      }
    }
  }
}

