/*** 

====================================================================
Section Title
====================================================================

***/

.sec-title {
	.sub-title {
		min-width: 156px;
		max-width: 100%;
		width: fit-content;
		padding: 10px 25px;
		background-color: var(--theme-color1);
		border-radius: 30px;
		letter-spacing: 1px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		text-align: center;
		&.style-red{
			background-color: var(--theme-color6);
			color: var(--theme-color-white);
		}
	}

	.title {
		margin-bottom: 0;
		@include media-breakpoint-down(md) {
			font-size: 30px;
			line-height: 40px;
		}
		&.light{
			color: var(--theme-color-light);
		}
	}

	.text {
		margin-top: 20px;
		margin-bottom: 0;
		&.fs-16 {
			font-size: 16px;
			line-height: 28.8px;
		}
	}

	.flex-content {
		display: flex;
		align-items: center;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: space-between;
		.flex-text {
			max-width: 540px;
			margin-bottom: 0;
		}
	}

	&.center {
		text-align: center;
		.sub-title {
			margin: 0 auto;
			margin-bottom: 10px;
		}
	}
}
