// Service area start here ***
.service-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: var(--theme-color-gray);

	.sec-shape {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.sec-line {
		position: absolute;
		top: 10px;
		right: 0;
		z-index: 0;
	}

	&::after {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		width: 40%;
		height: 100%;
		content: "";
		background-color: var(--theme-color2);

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	.sec-title {
		position: relative;
		z-index: 1;
		.arry {
			position: absolute;
			z-index: -1;
			right: -75px;
			top: -15px;
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}

	.service-slider {
		margin-right: -35%;

		@include media-breakpoint-down(xxl) {
			margin: 0;
		}
	}
}

.service-block {
	display: flex;
	position: relative;
	z-index: 1;
	height: 100%;
	.arry-btn {
		font-size: 14px;
		background-color: var(--theme-color2);
		color: var(--theme-color-white);
		border-radius: 30px;
		width: 64px;
		height: 135px;
		line-height: 135px;
		text-align: center;
		position: absolute;
		top: 50%;
		right: 210px;
		transform: translateY(-50%);
		z-index: 2;
		@include media-breakpoint-down(md) {
			right: 125px;
			height: 80px;
			line-height: 80px;
		}

		@include media-breakpoint-down(sm) {
			right: 100px;
		}
	}
	.content-box {
		background-color: var(--theme-color3);
		padding: 50px;
		padding-right: 20px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		z-index: 1;
		.shape {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-44%, -68%);
			z-index: -1;
		}
		.icon {
			margin-bottom: 30px;
			svg,
			i {
				transition: all 900ms ease;
			}
		}
		.content {
			.number {
				font-size: 22px;
				color: var(--theme-color1);
				font-weight: 700;
			}
			.title {
				color: var(--theme-color-white);
				margin: 10px 0;
				a {
					text-transform: capitalize;
				}
			}
			.text {
				color: #d9d9d9;
				font-size: 16px;
				line-height: 30px;
				margin: 0;
			}
		}

		@include media-breakpoint-down(lg) {
			padding: 30px;
			width: 100%;
		}
	}
	.image-box {
		min-width: 240px;
		height: 100%;
		overflow: hidden;
		.image {
			img {
				transition: all 500ms ease;
			}
		}
		@include media-breakpoint-down(md) {
			min-width: 130px;
			height: 100%;
			.image {
				height: 100%;
				img {
					height: 100%;
					object-fit: cover;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			width: 130px;
		}
	}
	&:hover {
		.content-box {
			.icon {
				i,
				svg {
					transform: rotateY(360deg);
				}
			}
		}

		.image-box {
			.image {
				img {
					transform: scale(1.1);
					filter: grayscale(100%);
				}
			}
		}
		.arry-btn {
			background-color: var(--theme-color1);
			color: var(--theme-color-black);
		}
	}
	@include media-breakpoint-down(sm) {
		flex-direction: column;

		.image-box {
			width: 100%;
			height: 350px;
			img {
				width: 100%;
			}
		}

		.arry-btn {
			right: 20px;
			top: 60px;
		}

		.content-box {
			order: 1;
			.icon {
				margin-bottom: 0;
			}
		}
	}
}
// Service area end here ***

// Service two area start here ***
.service-section-two {
	overflow: hidden;
	background-color: var(--theme-color-gray2);

	.outer-box {
		border-radius: 13px;
		overflow: hidden;
	}
	&.home6-style{
		.service-block-two{
			.inner-box{
				.icon{
					background-color: var(--theme-color7);
					svg{
						path{
							fill: var(--theme-color-white);
						}
					}
				}
				&:hover{
					background-color: var(--theme-color7);
					.icon{
						&:after{
							background-color: var(--theme-color6);
						}
					}
					.btn-two-rounded{
						background-color: var(--theme-color6);
					}
					.content-box {
						.title,
						.text{
							color: var(--theme-color-white);
						}
					}
				}
			}
		}
	}
}

.service-block-two {
	height: 100%;
	.inner-box {
		padding: 60px 30px;
		padding-top: 50px;
		background-color: var(--theme-color-white);
		border-right: 1px solid #d9d9d9;
		text-align: center;
		position: relative;
		z-index: 1;
		height: 100%;
		transition: all 500ms ease;
		.icon {
			width: 134px;
			height: 134px;
			line-height: 134px;
			text-align: center;
			border-radius: 50%;
			background-color: var(--theme-color1);
			margin: 0 auto;
			margin-bottom: 20px;

			position: relative;
			z-index: 1;

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background-color: var(--theme-color2);
				content: "";
				border-radius: 50%;
				transition: all 300ms ease;
				transform: scale(0);
			}
			svg,
			i {
				width: 70px;
				transition: all 900ms ease;
				path {
					transition: all 500ms ease;
				}
			}
		}
		.content-box {
			.title {
				margin-bottom: 20px;
			}
			.text {
				max-width: 345px;
				margin: 0 auto;
				font-size: 16px;
				line-height: 28px;
				transition: all 300ms ease;
			}

			.btn-two-rounded {
				min-width: 174px;
				margin-top: 30px;
				background-color: var(--theme-color-white);
				border: 1px solid rgba(32, 33, 36, 0.102);
				color: var(--headings-color);
			}
		}
		.block-bg {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			z-index: -1;
			width: 310px;
			img {
				width: 100%;
			}
		}

		&:hover {
			background-color: var(--theme-color1);
			.icon {
				i,
				svg {
					transform: rotateY(360deg);
					path {
						fill: var(--theme-color-white);
					}
				}
				&::after {
					transform: scale(1);
				}
			}
			.text {
				color: var(--headings-color);
			}
			.btn-two-rounded {
				background-color: var(--headings-color);
				color: var(--theme-color-white);
				transition: all 500ms ease;
			}
		}

		@include media-breakpoint-down(lg) {
			border: none;
			padding: 25px 15px;
		}
	}
}
// Service two area end here ***

// Service three area start here ***
.service-section-three {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: var(--theme-color-gray2);

	&.have-pb {
		padding-bottom: 200px;

		@include media-breakpoint-down(md) {
			padding-bottom: 150px;
		}
	}

	.sec-shape {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	.outer-box {
		max-width: 1230px;
		margin: 0 auto;
	}

	.content-column {
		.sec-title {
			.text {
				font-size: 16px;
				line-height: 30px;
				margin-top: 40px;
			}
		}
	}
}

.service-list-three {
	background-color: #eee9e9;
	padding: 60px;
	margin-right: 70px;
	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
			a {
				display: block;
				border-radius: 7px;
				padding: 20px 40px;
				background-color: var(--theme-color-white);
				display: flex;
				align-items: center;
				gap: 25px;
				color: #150e3d;
				font-weight: 700;
				font-size: 20px;
				font-family: var(--title-font);
				text-transform: capitalize;
				svg,
				i {
					transition: all 700ms ease;
				}
				&:hover {
					background-color: var(--theme-color1) !important;
					svg,
					i {
						transform: rotateY(-360deg);
					}
				}

				@include media-breakpoint-down(sm) {
					padding: 20px;
				}
			}
		}
	}

	@include media-breakpoint-down(xl) {
		margin-right: 0;
	}

	@include media-breakpoint-down(sm) {
		padding: 30px 15px;
	}
}

.service-block-three {
	background-color: var(--theme-color-white);
	border-radius: 5px;
	padding: 40px;
	.image {
		overflow: hidden;
		position: relative;
		z-index: 1;
		border-radius: 10px;
		img {
			width: 100%;
		}
		.video-btn {
			display: inline-block;
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			color: var(--headings-color);
			background-color: var(--theme-color1);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			&::after,
			&::before {
				opacity: 1;
				border: 20px solid rgba( var(--theme-color1-rgb), 0.5);
			}
		}
	}
	.content {
		.list {
			li {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 14px;
				i {
					color: var(--theme-color-black);
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 30px 15px;
	}
}
// Service three area end here ***

// Service Four area start here ***
.service-section-four {
	position: relative;
	z-index: 1;
	background-color: var(--theme-color-gray2);

	@include media-breakpoint-down(lg) {
		overflow: hidden;
	}

	.sec-shape {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	.content-column {
		.inner-column {
			max-width: 580px;
			position: sticky;
			top: 120px;
			.text {
				font-size: 16px;
				line-height: 28.8px;
			}
			.info {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				justify-content: space-between;
				ul {
					li {
						display: flex;
						align-items: center;
						gap: 10px;
						color: var(--headings-color);
						&:not(:last-child) {
							margin-bottom: 10px;
						}
						.title {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.service-block-four {
	.acc {
		border-radius: 14px;
		border: 1px solid #d9d9d9;
		.acc-item {
			background-color: transparent;
			border: none;
			transition: all 300ms ease;

			.acc-header {
				margin-bottom: 0;
			}

			.acc-btn {
				display: flex;
				align-items: center;
				gap: 20px;
				justify-content: space-between;
				padding: 20px 30px;
				background-color: transparent;
				box-shadow: none;
				transition: all 300ms ease;
				width: 100%;
				@include media-breakpoint-down(sm) {
					padding: 20px 15px;
				}
				&.collapsed {
					padding: 30px 50px;
					@include media-breakpoint-down(sm) {
						padding: 20px 15px;
					}
				}

				span {
					display: block;
					&.icon {
						width: 60px;
					}
				}
				.content-box {
					display: flex;
					align-items: center;
					gap: 25px;
					.title {
						font-size: 24px;
						line-height: 36px;
						font-weight: 700;
						font-family: var(--title-font);
						color: var(--headings-color);
					}
					@include media-breakpoint-down(sm) {
						gap: 10px;
						.title {
							font-size: 18px;
							line-height: 30px;
						}
						.icon {
							width: 30px;
							svg {
								width: 30px;
								height: 30px;
							}
						}
					}
				}
				.number {
					font-size: 20px;
					font-weight: 600;
					color: var(--headings-color);
				}
				&::after {
					display: none;
				}
			}

			.acc-body {
				padding: 30px;
				padding-top: 0;
				.text {
					margin-left: 85px;
					max-width: 430px;
					margin-bottom: 0;
					color: var(--theme-color-white);
					@include media-breakpoint-down(sm) {
						margin-left: 0;
						font-size: 16px;
						line-height: 28px;
					}
				}
			}

			&:not(:last-child) {
				border-bottom: 1px solid #d9d9d9;
			}

			&.active {
				background-color: var(--theme-color2);
				border-radius: 14px;
				.title,
				.text,
				.number {
					color: var(--theme-color-white) !important;
				}
				.icon {
					svg {
						path {
							fill: var(--theme-color-white);
						}
					}
				}
				.acc-btn {
					padding-bottom: 0 !important;
				}
			}
		}
	}
}
// Service Four area end here ***

.service-section-five{
	position: relative;
    z-index: 9;
    margin: 0 30px;
    border-radius: 30px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
    background-attachment: fixed;
	.title{
		br{
			@include media-breakpoint-down(md){
				display: none;
			}
		}
	}
	&:before{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		z-index: -2;
		background: linear-gradient(280.47deg, rgba(20, 68, 67, 0.85) 15.04%, #144443 65.71%);
	}
	.shape-bg{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
	.service-wrapper{
		margin: 0px 15px;
	}
	.service-know-box {
		border-radius: 100px;
		padding: 5px 8px;
		display: flex;
		align-items: center;
		gap: 25px;
		max-width: 705px;
		margin: 60px auto 0;
		border: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
		@include media-breakpoint-down(md) {
			display: block;
			margin: 40px auto 0;
			text-align: center;
			padding: 14px;
		}
		.icon {
			width: 65px;
			height: 65px;
			line-height: 65px;
			text-align: center;
			border-radius: 50%;
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
			background-color: var(--theme-color1);
			@include media-breakpoint-down(md) {
			margin: 0 auto;
			}
		}
		p {
			font-size: 16px;
			line-height: 36px;
			font-weight: 400;
			color: var(--theme-color-white);
			text-transform: capitalize;
			margin-bottom: 0;
			a {
				font-size: 18px;
				line-height: 36px;
				font-weight: 600;
				color: var(--theme-color1);
				text-decoration: underline;
				margin-left: 20px;
				i {
					margin-left: 15px;
					font-size: 19px;
				}
			}
		}
	}
}

.service-card-items {
	margin-top: 30px;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	padding: 50px;
	padding-bottom: 30px;
	@include media-breakpoint-down (xxxl){
		padding: 35px;
	}
	@include media-breakpoint-down (sm){
		padding: 30px;
	}
	@include media-breakpoint-down (xxs){
		padding: 25px;
	}
	.icon {
		width: 68px;
		height: 68px;
		line-height: 68px;
		text-align: center;
		border-radius: 50%;
		background: linear-gradient(99deg, #C8F169 0%, #039397 93.92%);
		svg {
			transition: all 900ms ease;
		}
	}
    .content {
		margin-top: 35px;
		h3 {
			a{
				color: #fff;
				background-position: 0 95%;
				background-repeat: no-repeat;
				background-size: 0% 2px;
				display: inline;				
				&:hover {
					background-size: 100% 2px;
					background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
				}
			}
		}
		p{
			color: #C4C4C4;
		}
		.link-btn {
			transform: rotate(-45deg);
			display: inline-block;
			margin-top: 20px;
			line-height: 1;

			&:hover {
				transform: rotate(0);
			}
		}
    }
    &:hover {
		.icon {
			svg {
				transform: rotateY(360deg);
			}
		}
    }
}