// Team area start here ***
.team-section {
	overflow: hidden;
	position: relative;
	z-index: 1;

	.team-shape {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}

.team-block {
	.inner-box {
		position: relative;
		z-index: 1;
		@include transition(all 300ms ease);
		border-radius: 20px;
		background-color: var(--theme-color-white);
		.image {
			border-radius: 20px 20px 0 0;
			overflow: hidden;
			@include transition(all 300ms ease);
			position: relative;
			img {
				width: 100%;
				@include transition(all 300ms ease);
			}
			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					-135deg,
					rgba(23, 23, 23, 0) 0%,
					rgba(23, 23, 23, 0) 65%,
					var(--theme-color1) 100%
				);
				content: "";
				z-index: 0;
				opacity: 0;
				@include transition(all 300ms ease);
				visibility: hidden;
			}
		}
		.content-box {
			padding: 20px 30px;
			box-shadow: 0px 5px 15px 0px #0000000d;
			border-radius: 0 0 20px 20px;
			.title {
				margin-bottom: 0;
			}
			.sub-title {
				font-weight: 600;
				color: var(--theme-color4);
				font-size: 14px;
				line-height: 28px;
				@include transition(all 300ms ease);
				margin-bottom: 0;
			}
		}
		.socials {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			background-color: var(--theme-color4);
			color: var(--theme-color-white);
			position: absolute;
			right: 20px;
			bottom: 83px;
			cursor: pointer;
			font-size: 14px;
		    @include transition(all 300ms ease);
			.fa-plus {
			    @include transition(all 300ms ease);
			}
			ul {
				width: 40px;
				position: absolute;
				bottom: 45px;
				right: 0;
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 5px;
				visibility: hidden;

				li {
					opacity: 0;
					visibility: hidden;
					transform: translateY(10px);
					transition: all 700ms ease;
					&:nth-child(2) {
					    @include transition(all 500ms ease);
					}
					&:nth-child(3) {
					    @include transition(all 400ms ease);
					}
					&:nth-child(4) {
					    @include transition(all 300ms ease);
					}
					a {
						width: 40px;
						height: 40px;
						line-height: 40px;
						text-align: center;
						background-color: var(--theme-color-white);
						color: var(--theme-color4);
						border-radius: 50%;
						display: inline-block;
					}
					i {
						transition: all 900ms ease;
					}
					&:hover {
						i {
							transform: rotateY(360deg);
						}
					}
				}
			}
		}
		&:hover {
			background-color: var(--theme-color4);
			.image {
				border-radius: 20px;
				overflow: hidden;
			    @include transition(all 300ms ease);
				img {
					filter: grayscale(100%);
				}
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
			.content-box {
				.title,
				.sub-title {
					color: var(--theme-color-white);
				}
			}
			.socials {
				background-color: var(--theme-color1);
				color: var(--theme-color4);
				.fa-plus {
					display: inline-block;
					transform: rotate(135deg);
				}
				ul {
					visibility: visible;
					li {
						opacity: 1;
						transform: translateY(0px);
						visibility: visible;
					}
				}
			}
		}
	}
}
// Team area end here ***

// Team two area start here ***
.team-section-two {
	overflow: hidden;
	position: relative;
	z-index: 1;
	background-color: var(--headings-color);

	.sec-shape {
		position: absolute;
		bottom: 40px;
		left: -230px;
		z-index: -1;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	.box-shape {
		width: 189px;
		height: 220px;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
		.box1 {
			height: 100%;
			width: 75px;
			background-color: rgba(53, 62, 71, 0.4);
			position: absolute;
			bottom: 0;
			right: 0;
		}
		.box2 {
			width: 100%;
			height: 50px;
			background-color: rgba(53, 62, 71, 0.4);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

.team-block-two {
	.inner-box {
		text-align: center;
		.image-box {
			position: relative;
			z-index: 1;
			.image {
				overflow: hidden;
				border-radius: 6px;
				img {
				    @include transition(all 500ms ease);
					width: 100%;
				}
			}
			.socials {
				width: 68px;
				height: 68px;
				line-height: 68px;
				text-align: center;
				background-color: var(--theme-color2);
				color: var(--theme-color-white);
				position: absolute;
				left: 0px;
				bottom: 0px;
				cursor: pointer;
				font-size: 24px;
			    @include transition(all 300ms ease);

				ul {
					position: absolute;
					bottom: -7px;
					left: 68px;
					display: flex;
					align-items: center;
					visibility: hidden;

					li {
						opacity: 0;
						visibility: hidden;
						transform: translateY(5px);
					    @include transition(all 300ms ease);
						&:nth-child(2) {
						    @include transition(all 400ms ease);
						}
						&:nth-child(3) {
						    @include transition(all 500ms ease);
						}
						&:nth-child(4) {
						    @include transition(all 700ms ease);
						}
						a {
							width: 45px;
							height: 45px;
							line-height: 45px;
							text-align: center;
							background-color: var(--theme-color-white);
							color: #888888;
							font-size: 14px;
							display: inline-block;
							&:hover {
								color: var(--headings-color);
							}
						}
						i {
						    @include transition(all 900ms ease);
						}
						&:hover {
							i {
								transform: rotateY(360deg);
							}
						}
					}
				}
			}
		}
		.content-box {
			margin-top: 20px;
			.title {
				color: var(--theme-color-white);
				font-size: 22px;
				line-height: 30px;
				text-transform: capitalize;
				margin: 0;
				a {
					&:hover {
						letter-spacing: 1px;
					}
				}
			}
			.sub-title {
				font-weight: 600;
				color: var(--theme-color1);
				line-height: 30px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 12px;
				margin: 0;
			}
		}
		&:hover {
			.socials {
				ul {
					visibility: visible;
					li {
						opacity: 1;
						transform: translateY(0px);
						visibility: visible;
					}
				}
			}
			.image-box {
				.image {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
// Team two area end here ***

// Team Three area start here ***
.team-section-three {
	background-color: var(--theme-color-light-green);
	overflow: hidden;
	position: relative;
	z-index: 1;
	.floating-img {
	    position: absolute;
	    right: -300px;
	    top: 170px;
	}
	.team-block-three{
		.inner-box {
			.image-box{
				.socials{
					background-color: var(--theme-color6);
				}
			}
		}
	}
	.team-three-text {
		position: absolute;
		bottom: 125px;
		left: -25px;
		z-index: -1;
	}
}

.team-block-three {
	.inner-box {
		text-align: center;
		.image-box {
			position: relative;
			z-index: 1;
			.image {
				overflow: hidden;
				border-radius: 12px;
				img {
					width: 100%;
				    @include transition(all 500ms ease);
				}
			}
			.socials {
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
				background-color: var(--theme-color2);
				border-radius: 12px;
				padding: 0 15px;
				opacity: 0;
				visibility: hidden;
			    @include transition(all 500ms ease);

				ul {
					display: flex;
					align-items: center;
					visibility: hidden;

					li {
						opacity: 0;
						visibility: hidden;
						transform: translateX(-5px);
					    @include transition(all 300ms ease);
						&:nth-child(2) {
						    @include transition(all 400ms ease);
						}
						&:nth-child(3) {
						    @include transition(all 500ms ease);
						}
						&:nth-child(4) {
						    @include transition(all 700ms ease);
						}
						a {
							width: 35px;
							height: 50px;
							line-height: 50px;
							text-align: center;
							color: var(--theme-color-white);
							font-size: 14px;
							display: inline-block;
						}
						i {
						    @include transition(all 900ms ease);
						}
						&:hover {
							i {
								transform: rotateY(360deg);
							}
						}
					}
				}
			}
		}
		.content-box {
			padding: 30px 20px;
			border-radius: 0px 0px 12px 12px;
			@include transition(all 300ms ease);
			.title {
				text-transform: capitalize;
				margin: 0;
				a {
					&:hover {
						color: var(--theme-color1);
					}
				}
			}
			.sub-title {
				font-weight: 600;
				color: var(--theme-color2);
				line-height: 30px;
				text-transform: capitalize;
				font-size: 16px;
				margin: 0;
			}
		}
		&:hover {
			.socials {
				opacity: 1;
				visibility: visible;
				ul {
					visibility: visible;
					li {
						opacity: 1;
						transform: translateY(0px);
						visibility: visible;
					}
				}
			}
			.content-box {
				background-color: var(--theme-color-white);
			}
			.image-box {
				.image {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
// Team Three area end here ***

// Team Four area start here ***
.team-section-four {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.team-block-four {
	.inner-box {
		padding: 10px;
		border-radius: 30px;
		background-color: var(--theme-color-white);
		.image-box {
			position: relative;
			z-index: 1;
			.image {
				position: relative;
				overflow: hidden;
				border-radius: 30px;
				img {
					width: 100%;
				    @include transition(all 500ms ease);
				}
				.shape-image{
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}			
		}
		.content-box {
			position: relative;
			padding: 30px 20px;
			.title {
				text-transform: capitalize;
				margin: 0;
				a {
					&:hover {
						color: var(--theme-color1);
					}
				}
			}
			.sub-title {
				font-weight: 600;
				color: var(--theme-color2);
				line-height: 30px;
				text-transform: capitalize;
				font-size: 16px;
				margin: 0;
			}
			.socials {
				position: absolute;
				bottom: 45px;
				right: 10px;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
				transform: translateX(-50%);
			    @include transition(all 500ms ease);
				ul {
					display: flex;
					align-items: center;
					gap: 10px;
					visibility: hidden;
					li {
						opacity: 0;
						visibility: hidden;
						transform: translateX(-5px);
					    @include transition(all 300ms ease);
						&:nth-child(2) {
						    @include transition(all 400ms ease);
						}
						&:nth-child(3) {
						    @include transition(all 500ms ease);
						}
						&:nth-child(4) {
						    @include transition(all 700ms ease);
						}
						a {
							width: 30px;
							height: 30px;
							line-height: 30px;
							text-align: center;
							color: var(--theme-color10);
							background-color: var(--theme-color-white);
							border-radius: 50%;
							font-size: 12px;
							display: inline-block;
							box-shadow: 3px 3px 10px 3px rgba(12, 12, 13, 0.1)
						}
						i {
						    @include transition(all 900ms ease);
						}
						&:hover {
							i {
								transform: rotateY(360deg);
							}
						}
					}
				}
			}
		}
		&:hover {
			.socials {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
				ul {
					visibility: visible;
					li {
						opacity: 1;
						transform: translateY(0px);
						visibility: visible;
					}
				}
			}
			.image-box {
				.image {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
// Team Four area end here ***

// Team five area start here ***
.team-five {
	&-area {
		overflow: hidden;
	}
	&__wrp {
		max-width: 1290px;
		margin: 0 auto;
	}
	&__item {
		position: relative;
		z-index: 1;
		.image{
			img{
				width: 100%;
				object-fit: cover;
			}
		}
		.content {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			padding: 25px;
			border-radius: 10px;
			background-color: var(--theme-color-white);
			text-align: center;
			transition: all 700ms ease;
			.title {
				margin-bottom: 5px;
			}
			.socials {
				margin-top: 15px;
				display: flex;
				align-items: center;
				gap: 15px;
				justify-content: center;
				margin-bottom: -40px;
				opacity: 0;
				visibility: hidden;
				color: var(--theme-color-white);
				transition: all 700ms ease;
				a {
					color: var(--theme-color-white);
					&:hover {
						transform: translateY(-3px);
					}
				}
			}
		}
		&:hover {
			.content {
				padding: 40px 20px;
				border-radius: 10px;
				backdrop-filter: blur(20px);
				background-color: rgb(194 194 194 / 40%);
				.title {
					color: var(--theme-color-white);
				}
				.sub-title {
					color: var(--theme-color-white);
				}
				.socials {
					margin-bottom: 0;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
// Team five area end here ***