/*** 

====================================================================
  video-section
====================================================================

***/

.video-section {
  position: relative;
  padding: 300px 0;
  .bg-image{
    &:before {
      background-color: rgba(var(--theme-color-black-rgb), .4);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
  @include media-breakpoint-down(sm){
    padding: 210px 0 80px;
  }
  // btn-column
  .btn-column{
    .inner-column{
      .play-now-two{
        border: none;
        background-color: rgba(var(--theme-color-white-rgb), .48);
        backdrop-filter: blur(10px);
        border-radius: 50%;
        color: var(--headings-color);
        display: inline-block;
        font-size: 30px;
        text-align: center;
        line-height: 162px;
        width: 162px;
        height: 162px;
        position: absolute;
        top: 120px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include media-breakpoint-down(sm){
          width: 100px;
          height: 100px;
          line-height: 100px;
        }
      }
    }
  }
}

/*** 

====================================================================
  video-section Two
====================================================================

***/

.video-section-two {
  position: relative;
  padding: 172px 0;
  @include media-breakpoint-down(md){
    padding: 120px 0;
  }
  .bg-image {
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      background-color: rgba(var(--theme-color-black-rgb), 0.7);
    }
  }

  .sec-title {
    margin-bottom: 0;
    .sub-title {
      color: #D9D9D9;
    }
    h2 {
      font-size: 60px;
      line-height: 1;
      @include media-breakpoint-down(xxl){
        line-height: 1.3;
      }
      @include media-breakpoint-down(md){
        font-size: 42px;
      }
      @include media-breakpoint-down(sm){
        font-size: 36px;
      }
    }
  }

  .btn-box{
    margin-top: 30px;
    .play-now-two{
        background-color: transparent;
        border: 1px solid var(--theme-color-light);
        color: var(--theme-color1);
        position: relative;
        top: 0;
        font-size: 40px;
        width: 113px;
        height: 113px;
        text-align: center;
        line-height: 113px;
        border-radius: 50%;
        display: inline-block;
      }
  }
}

/*** 

====================================================================
  video-section Three
====================================================================

***/

.video-section-three {
  background-color: #1B1B1B;
  position: relative;
  padding: 119px 0 105px;
  &:before {
    background-image: url(../images/icons/shape-12.png);
    content: "";
    position: absolute;
    width: 859px;
    height: 629px;
    right: 0px;
    bottom: 0;
    pointer-events: none;
  }
  .sec-title {
    margin-bottom: 0;
    h2 {
      color: var(--theme-color-white);
    }
  }

  .btn-box{
    margin-top: 20px;
    margin-left: 25px;
    @include media-breakpoint-down(sm){
      margin-left: 0;
    }
    .play-now-two{
      background-color: var(--theme-color-light);
      border: 1px solid var(--theme-color-light);
      color: var(--theme-color1);
      position: relative;
      top: 0;
      font-size: 34px;
      width: 106px;
      height: 106px;
      text-align: center;
      line-height: 106px;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

/*** 

====================================================================
  video-section Four
====================================================================

***/

.video-section-four {
  position: relative;
  padding: 99px 0 66px;
  .bg-image {
    z-index: -1;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      background-color: rgba(var(--theme-color-black-rgb), 0.5);
    }
  }

  .outer-box {
    margin: 0px -53px;
    @include media-breakpoint-down(xxl) {
      margin: 0;
    }
  }

  .sec-title {
    margin-bottom: 58px;
    h2 {
    }
  }

  .btn-box{
    margin-top: 30px;
    text-align: center;
    .play-now-two{
      border: none;
      background-color: rgba(var(--theme-color-white-rgb), .48);
      backdrop-filter: blur(10px);
      border-radius: 50%;
      color: var(--theme-color1);
      display: inline-block;
      font-size: 30px;
      text-align: center;
      line-height: 162px;
      width: 162px;
      height: 162px;
      position: relative;
      top: 0;
      @include media-breakpoint-down(sm){
        width: 100px;
        height: 100px;
        line-height: 100px;
      }
    }
  }

  .info-text {
    display: flex;
    justify-content: flex-end;
    margin-top: 85px;
    .inner-info {
      border-left: 1px solid rgba(var(--theme-color-white-rgb), .5);
      padding-left: 30px;
      max-width: 440px;
      .text {
        color: var(--theme-color-white);
        margin-bottom: 16px;
      }
      .link {
        color: var(--theme-color-white);
        font-weight: 700;
        @include transition(all 300ms ease);
        &:hover {
          color: var(--theme-color1);
          .icon {
            transform: rotate(0deg);
          }
        }
        .icon {
          font-size: 18px;
          margin-left: 8px;
          position: relative;
          top: 2px;
          transform: rotate(45deg);
          @include transition(all 300ms ease);
        }
      }
    }
  }
}


@-webkit-keyframes modal-video {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}
@keyframes modal-video {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}
@-webkit-keyframes modal-video-inner {
	from {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	}
	to {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	}
}
@keyframes modal-video-inner {
	from {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	}
	to {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	}
}
.modal-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: modal-video;
	animation-name: modal-video;
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.modal-video-effect-exit {
	opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
}
.modal-video-body {
	max-width: 960px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.modal-video-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
@media (orientation: landscape) {
	.modal-video-inner {
	padding: 10px 60px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
}
.modal-video-movie-wrap {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
	background-color: #333;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: modal-video-inner;
	animation-name: modal-video-inner;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-video-close-btn {
	position: absolute;
	z-index: 2;
	top: -45px;
	right: 0px;
	display: inline-block;
	width: 35px;
	height: 35px;
	overflow: hidden;
	border: none;
	background: transparent;
}
@media (orientation: landscape) {
	.modal-video-close-btn {
	top: 0;
	right: -45px;
	}
}
.modal-video-close-btn:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.modal-video-close-btn:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.modal-video-close-btn:before, .modal-video-close-btn:after {
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background: #fff;
	border-radius: 5px;
	margin-top: -6px;
}